[2019-02-15 16:45] yurykorzun commented on #79
I cannot build 0.59 rc1 using a podspec, the same Folly compiler issue remains. There were no changes committed to React.podspec.

[2019-02-15 17:04] hramos commented on #79
There's an issue in 0.59 we should fix before hitting stable: https://github.com/facebook/react-native/issues/23235

[2019-02-15 17:08] hramos commented on #91
As @diegolmello said earlier in the thread, this is not the right place to discuss this. We use this repository to coordinate open source releases, and this falls out of that scope.

[2019-02-15 17:08] #91 closed

[2019-02-15 17:12] hramos commented on #92
That'd be a good idea. For anyone interested in sending a PR, you can take a look at how the core repository is set up: https://github.com/facebook/react-native/tree/master/.github

Adding a single `ISSUE_TEMPLATE.md` to a `.github` directory should be enough, especially if we're not expecting people other than release maintainers to open issues. Otherwise, we could also look into providing multip

[2019-02-15 23:14] fkgozali commented on #79
Let's pick this commit: https://github.com/facebook/react-native/commit/a9dd828c68338dbf0e55ffa1838bf8ff574f317d

[2019-02-16 00:40] gaodeng commented on #79
Would be nice to include https://github.com/facebook/react-native/commit/f15145639dab1e8d7a1c79a127b7d45c91d025a8

[2019-02-16 03:15] karanjthakkar commented on #86
If there is going to be a 0.58.5, can we please get this in too: https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-46424194?

[2019-02-16 05:57] SaeedZhiany commented on #91
@hramos, So I think it would be better transfer this issue to a right place than close it. I have the issue too. My apk size increased double and I don't know how exactly manage that. also I don't have any information about the 'splitting' procedure that @mjmasn said.

[2019-02-16 08:41] Eddie-CooRo commented on #86
Fix Inverted Horizontal ScrollView on Android -> https://github.com/facebook/react-native/commit/4521cffc2c9448818f7a2f4a15808674c8f92069

[2019-02-16 08:51] spyr0s commented on #79
I have this error using 0.59.0-rc.1
[code]

[2019-02-16 09:00] Federkun commented on #79
@spyr0s , refer to https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-463448276

[2019-02-16 10:53] Salakar commented on #79
Confirmed still the same issue here on rc1

[2019-02-16 11:34] Salakar commented on #79
@yurykorzun @IljaDaderko I have a fix for the folly issue. I will send up a PR shortly if you could apply it locally let me know

[2019-02-16 12:11] IljaDaderko commented on #79
Applied @Salakar 's PR and folly issue is resolved 👍

[2019-02-16 15:15] jagadishg1 commented on #91
Thanks for your quick response , ill create another issue in Lean core

[2019-02-16 15:16] jagadishg1 commented on #91
Thanks for your response , do you have any reference link for making app bundle for react native app

[2019-02-16 15:24] mikehardy commented on #91
https://developer.android.com/platform/technology/app-bundle/

[2019-02-16 15:37] hramos commented on #91
@SaeedZhiany issues can only be transferred across repositories in the same GitHub org, and the core RN repo is not part of @react-native-community. Other repositories have issue templates that might need to be applied. It's best to let the OP handle submitting the issue elsewhere.

[2019-02-16 16:19] Jyrno42 commented on #86
I would love if this made it to the 0.58.x release https://github.com/facebook/react-native/commit/7795a672d3a24a5b50df6ad6d30555d856b557cc

[2019-02-17 00:04] diegolmello commented on #91
https://facebook.github.io/react-native/docs/signed-apk-android#split-apks-by-abi-to-reduce-file-size

[2019-02-17 00:34] SimenB commented on #91
Not really, but you have to be an admin on both repos (push access not enough). Unfortunate restriction, IMO.

Good point on the issue templates, though 🙂

[2019-02-17 07:02] grabbou commented on #79
Going to wait for @Salakar PR to land and will release 0.59.0-rc.2 with fixes mentioned in this thread since the last release.

[2019-02-17 07:03] grabbou commented on #86
I will be releasing another 0.58 release tomorrow with the commits mentioned.

[2019-02-17 16:50] Sharlaan commented on #79
Not sure where to report htis issue, but trying RN 0.59-rc.1 (and React 16.8.2) on Win10 led me to a path resolution problem :

![image](https://user-images.githubusercontent.com/2692027/52916136-38e16400-32dc-11e9-8679-ce36b5196217.png)

I never got this issue with previous versions.

[2019-02-17 23:24] Salakar commented on #79
@grabbou PR has landed 🎉

[2019-02-18 10:31] kelset commented on #92
I guess we could...? But this repo is not meant for creating issues aside from the ones we create for the releases?

It could probably say "if you are reading this, probably you should not be posting an issue here" and some links to other repo?

[2019-02-18 13:53] grabbou commented on #86
Cherry-picked almost all the commits.

@Jyrno42, your commit is already part of the release.
@dulmandakh, your commit depends on another one. I have wrote you a DM to resolve the conflicts.
@noahtallen, I didn't cherry-pick your commit since it's already part of 0.59 where it's been deprecated too. I think it's good to not cherry-pick deprecations. I hope it's not a deal breaker for you.

[2019-02-18 13:55] noahtallen commented on #86
@grabbou no problem! That certainly makes sense. My hope was that it would help with a different issue I was having related to react native screens.

[2019-02-18 13:56] grabbou commented on #86
I understand! In this case, one thing I can do for you is to encourage you to try the RC :)

[2019-02-18 16:03] cihati commented on #86
(I apologize, I still haven't figured out how it's decided that certain commits are put into certain releases. Any pointers would be helpful)

@grabbou Any chance to get https://github.com/facebook/react-native/pull/22439 into the next release, assuming there will be 0.58.5 release? It's merged on Jan 2nd, and our app crashes a lot due to this issue. I see that the fix's already in the 0.59 branch

[2019-02-18 16:06] mikehardy commented on #86
@cihati I think you just ask for a specific commit, like so https://github.com/facebook/react-native/commit/dd209bb7891ed5f05b96a9922c7b0e39bf3ac9e9 in this case?

[2019-02-18 16:10] cihati commented on #86
Yes, that's the commit -- sorry I put the PR link initially instead.

[2019-02-18 16:11] grabbou commented on #86
I'll include that one too, just doing final touches before the release.

[2019-02-18 16:32] grabbou commented on #79
Cherry-picked requested commits and pushed the release for tests. Will try to publish it soon.

Note: I am marking comments that talk about resolved issues as "resolved" to keep visibility on the issues that we haven't fixed yet or known problems (e.g. upgrading Android SDK).

[2019-02-18 17:06] grabbou commented on #79
0.59.0-rc.1 is on CircleCI, should be live soon.

Cherry-picked 3 commits, including CocoaPods fix. See them [here](https://github.com/facebook/react-native/commits/0.59-stable)

CLI work is happening in a different repository, reinstalling `node_modules` should do the trick.

[2019-02-18 17:47] thymikee commented on #79
@Sharlaan can you translate this error to English? I'm not sure what's wrong there.

[2019-02-18 17:56] Sharlaan commented on #79
Sorry i thought it would be self-explanatory.

Basically it says that it fails to execute what it think to be a cli command, because of the space in the path `D://My          projects/..`

[2019-02-18 17:58] thymikee commented on #79
@Sharlaan Thanks! Which version of Node are you running?

[2019-02-18 17:58] Sharlaan commented on #79
last, v11.10

[2019-02-18 18:08] thymikee commented on #79
Did it work for you earlier? This code hasn't really changed since extraction

[2019-02-18 18:13] Sharlaan commented on #79
after i search or the previous version of RN i were using i found out it were 0.58.4 but most importantly, the repo were manually settled...
... unlike here i tested using directly `expo init`

[2019-02-18 18:15] thymikee commented on #79
I don't have a Windows machine, and paths with spaces work on UNIX. I'd appreciate your help on that. The relevant code is here: https://github.com/react-native-community/react-native-cli/blob/760d384ae199ccd6552805459c195ed5aa3969fc/packages/cli/src/cliEntry.js#L142-L146

It may be an Expo issue as you say, but it's possible that we can make it easier for them on our side.

[2019-02-18 19:03] Sharlaan commented on #79
ok i made another fresh test which worked flawlessly :
![image](https://user-images.githubusercontent.com/2692027/52970962-fa1fdc80-33b5-11e9-9a61-9e505f449be6.png)

... but after upgrading, red screen (LAN mode) :
![image](https://user-images.githubusercontent.com/2692027/52971175-cbeecc80-33b6-11e9-8f45-e8ba349985c8.png)

Honestly i'm clueless there :s

[2019-02-18 19:40] Sharlaan commented on #79
I made a few research about `childProcess.execFile` and found this in Node documentation :
https://nodejs.org/api/child_process.html#child_process_spawning_bat_and_cmd_files_on_windows
(especially last example)

Any space in the argument passed to `childProcess.execFileSync` tells it there is a command executable.
So maybe the solution would be to enclose the whole path string in quotes ?

[2019-02-18 19:41] thymikee commented on #79
@Sharlaan feel free to try it! :)

[2019-02-18 20:24] cihati commented on #86
@grabbou many thanks!! Just for my understanding: what's the release process timeline like in general? For instance, I see that you bumped version numbers to 0.58.5 ~4 hours ago ( https://github.com/facebook/react-native/commit/9d9069674a4ae71fa8762b08933acee08c7d5b04 ) but I don't see the new react-native version in NPM yet.

[2019-02-19 09:58] grabbou commented on #79
0.59.0-rc.2 is out on npm now.

[2019-02-19 09:59] grabbou commented on #86
Generally speaking, it takes an hour from the tag pushed to Github to land on npm. Unfortunately, the CircleCI failed to checkout the code (https://circleci.com/gh/facebook/react-native/73354). I am investigating the issue.

[2019-02-19 13:04] kelset commented on #79
@thymikee @Sharlaan can you please move your conversation to an issue in the main repo? So that we can avoid polluting this issue

[2019-02-19 13:25] ltcaosj commented on #79
**- Cannot run DEBUG on a real iOS device**
**- Cannot even run RN app on a real Android device**
**Reproduce:** Just init a new RN app ---> got those issues
<img width="650" alt="device1" src="https://user-images.githubusercontent.com/5376380/53018270-8567a380-3484-11e9-95da-453af3dc8e4f.png">
<img width="1018" alt="device2" src="https://user-images.githubusercontent.com/5376380/53018283-8ac4ee00

[2019-02-19 13:47] kelset commented on #79
@ltcaosj please open a dedicated issue on the main repo following the template.

[2019-02-19 15:10] grabbou commented on #86
The CI is back green and 0.58.5 is out.

[2019-02-19 15:38] andresmtz98 commented on #86
Hmm the problem with internet connection on Android still persists  with sdk 28 :(. Or there is any config to do?

[2019-02-19 15:52] kelset commented on #86
@andresmtz98 can you comment on the related issue on the main repo? So that we can close this, open a new one for 0.58.6 if we decide to do a next one (before 0.59.0).

(also, you should double check that the issue is still present on the 0.59 rc)

[2019-02-19 20:42] hramos commented on #92
Pointing people elsewhere is what I had in mind, with a single issue_template.md.

[2019-02-19 23:45] ltcaosj commented on #79
@kelset , I thought the issue is related to 0.59.x release, so I put it here. Let me put it in the main repo then.

[2019-02-20 00:30] akshetpandey commented on #79
@grabbou : https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-460410565 isn't resolved and I feel like its still a blocker for 0.59 release. Its being discussed here: https://github.com/react-native-community/jsc-android-buildscripts/issues/82

[2019-02-20 09:43] kelset commented on #92
PR -> https://github.com/react-native-community/react-native-releases/pull/94/

[2019-02-20 09:43] #92 closed

[2019-02-20 09:47] kelset opened #95 "0.58.5 Discussion"
Conversation on this thread are limited to 0.58.5 release's major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.58.5 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new iss

[2019-02-20 09:47] kelset commented on #86
Closing in favor of -> https://github.com/react-native-community/react-native-releases/issues/95

[2019-02-20 09:47] #86 closed

[2019-02-20 10:47] danilobuerger commented on #79
Please cherry pick:
Map TextInput textContentType strings to Objective-C constants https://github.com/facebook/react-native/commit/a89fe4165c2a331a9d88636d89a5a48151ab8660

[2019-02-20 12:23] nihar108 commented on #95
Would love to have https://github.com/facebook/react-native/commit/3b9604feda8f9e8fe3dd884912ec7d9be67d7f1d in the next 0.58.x release? Need to support a 3rd party module that extends AppCompatActivity.

[2019-02-20 12:25] mikehardy commented on #95
@nihar108 that's a non backwards compatible / breaking change and is being noted as such in the 59 release notes if I recall correctly

[2019-02-20 12:39] nihar108 commented on #95
@mikehardy Sorry I missed that. Just so that I get it right next time, if the change is not a breaking one, can it be included in the next 0.58.x release even though it is present in the 0.59.0-rc versions?

[2019-02-20 13:38] mikehardy commented on #95
I'm not sure on policy (I'm just a random developer on the internet ;-) ), but I am *fairly* sure breaking changes don't go in patch releases, so I was just noting it in case you were on the fence of whether to start moving yourself to 0.59.x or not or wait for a patch release. As I'm not 100% sure I couldn't advise anyone but if I relied on that change I'd just move to 0.59-rcs now personally

[2019-02-20 14:01] Bardiamist commented on #95
I updated form 0.58.4 to 0.58.5 today and now I have warning when call fetch with saga.
Warning: somthing about `n.slice` on next code: `yield call(fetch, 'apiUrl', requestOprions)`. But it works properly.
Works wothout warning: `await fetch('apiUrl', requestOprions)`
May be in future will create issue when will understand what the right place for this.
Can't make to reproduce demo because expo sn

[2019-02-20 21:55] dmainas commented on #95
Fix Inverted Horizontal ScrollView on Android https://github.com/facebook/react-native/commit/32cb9ec49c801fcebe61486149134ab542d9364b

[2019-02-21 04:00] thientnc-ibl commented on #95
#22611

[2019-02-21 04:02] thientnc-ibl commented on #95
Map TextInput textContentType strings to Objective-C constants (#22611)

[2019-02-21 07:21] dulmandakh commented on #79
Cherry picks:
- SYSTEM_ALERT_WINDOW permission only in debug builds - https://github.com/facebook/react-native/commit/84a2fb0a4a67cd9dc37cf4e5bab814f25181cfb7
- ReactTextView extends AppCompatTextView - https://github.com/facebook/react-native/commit/ba0c3ffd5b46963a8bb27b40eb396965535cd927

[2019-02-21 09:20] ziqiDev commented on #79
when will update the version of gradle  to 5.0?

[2019-02-21 09:21] dulmandakh commented on #79
@ziqiDev it's landed in master, and will be a part of 0.60 release
https://github.com/facebook/react-native/commit/b4017a9923b09fed4b693a8e4cfadd30ce34c88d

[2019-02-21 14:23] ltcaosj commented on #79
I just installed the latest release of 0.59.x : The **Live Reload does not work** - I need to reinstall the app every time making a code change.

[2019-02-21 14:28] t3chnoboy commented on #79
@ltcaosj I have the same issue. The development server is not exposed to the local network.
As a workaround you can start the dev server like this: `react-native start --host 0.0.0.0`

[2019-02-21 15:04] ltcaosj commented on #79
thanks @t3chnoboy , your workaround solution works ;)

[2019-02-21 15:19] kelset commented on #79
@ltcaosj @t3chnoboy it looks like it's a CLI issue, can you please open one in the [dedicated repo](https://github.com/react-native-community/react-native-cli/issues) so that it can be investigated?

[2019-02-22 07:27] ltcaosj commented on #79
https://github.com/facebook/react-native/issues/23589

[2019-02-23 16:10] sunnylqm commented on #79
Please cherry pick:
https://github.com/facebook/react-native/commit/d9489c4e9c646b79025f07635b840e9974be8cd5

[2019-02-23 16:11] sunnylqm commented on #95
Please cherry pick:
https://github.com/facebook/react-native/commit/d9489c4e9c646b79025f07635b840e9974be8cd5

[2019-02-23 21:38] lorenc-tomasz commented on #95
Please add upgrade istructions from 0.58.4 if necessary.

[2019-02-24 13:44] Bardiamist commented on #95
@lorenc-tomasz Yo can see changes here https://github.com/bardiamist/rn-diff/compare/rn-0.58.4...rn-0.58.5

[2019-02-25 03:23] dulmandakh commented on #79
Cherry picks:
- Add Nonnull annotations to ViewManager - https://github.com/facebook/react-native/commit/0b4f74176c9a2d21d0bcf9c497b7ce7440f6a920
- Use existing character set in POST body when possible - https://github.com/facebook/react-native/commit/0d5aebbd9ac92a90ec7ab1426ed92dd22ae8c736
- Fix IllegalArgumentException when creating CookieManager - https://github.com/facebook/react-native/commi

[2019-02-25 18:26] tomduncalf commented on #79
Hey, wanted to report an issue I've found with 0.59rc2.

Our project can't use the `-ObjC` linker flag to discover/load all symbols as it causes "duplicate symbol" errors for some of the static libraries we use (`ObjC` is all-or-nothing flag, so we can't opt these out of it). As RN depends on this flag, the alternative is to use `-force_load` for each library that needs to be loaded in this way an

[2019-02-25 18:31] FLGMwt commented on #79
Can we please cherry-pick: https://github.com/facebook/react-native/commit/b9d3743cda95d1f475dbec8f6d72935941519deb ?

Not a regression or security fix, but it addresses a pretty big long-standing gap w/ a11y on Android.

[2019-02-25 18:41] hramos commented on #79
@tomduncalf can you open a new issue in https://github.com/facebook/react-native and try and make it clear it's present in the 0.59 RC? It will be easier to track that way.

[2019-02-25 19:21] tomduncalf commented on #79
@hramos sure, https://github.com/facebook/react-native/issues/23645 raised. Thanks!

[2019-02-25 19:28] grabbou commented on #95
@mikehardy I wouldn't say it better!

It's not the first time the ReactActivity commit comes up @nihar108, but given it's breaking and not trivial to merge, we decided to keep it for the 0.59 RC.

[2019-02-25 20:48] ericlewis commented on #79
Can we cherry pick: https://github.com/facebook/react-native/commit/8ce3c1b43edd47191c8e5ee8432c58f6e93dfca7

Solves an issue we have had since 2016.

[2019-02-27 16:38] hramos commented on #79
Please cherry pick https://github.com/facebook/react-native/commit/d4ce8463a853a29cc977fcbf390b43940f521bd2. This commit bumps React to v16.8.3 and updates the React Native renderer accordingly.

[2019-02-27 20:05] akshetpandey commented on #79
https://github.com/react-native-community/react-native-releases/issues/79#issuecomment-465368826 is resolved.

[2019-02-27 20:11] grabbou commented on #79
@akshetpandey - do you mean we are good to go? My understanding from https://github.com/react-native-community/jsc-android-buildscripts/issues/82 is that it's not a blocker for 0.59 anymore.

[2019-02-27 20:17] akshetpandey commented on #79
Yes, its not a blocker for 0.59. Looks like 0.59 improves on 0.58 behavior.

[2019-02-27 20:25] grabbou commented on #79
Awesome! Going to "resolve" all the comments then to clean it up! Thank you so much for being active in that topic here and in that issue!

[2019-02-27 21:41] grabbou commented on #79
0.59.0-rc.3 is out

[2019-02-27 22:06] grabbou commented on #95
I've been working on 0.59.0-rc.3 today and some fixes to the CLI. I am going to work on 0.58.6 tomorrow.

[2019-02-27 22:24] fungilation commented on #95
Any rough estimate of when for 0.59.0 release?

[2019-02-28 05:52] grabbou commented on #95
We want RC to stabilize for a week and then, we will cut stable.
On Wed, 27 Feb 2019 at 23:25, Gary Fung <notifications@github.com> wrote:

[2019-02-28 07:55] zenz commented on #79
should upgrade the .flowconfig to version 0.93.0
it seems this version(flow-bin@0.93.0) solved the 'flow check dosen't work under windows' issue.
https://github.com/facebook/react-native/issues/21311

[2019-02-28 10:34] PareshPatel721 commented on #95
Hello, I am naive in React-native.

I installed react-native through CLI command, all node and homebrew are also installed on. my MacMini.
Created first application with react-native init MyFirstApp
Below is the version of React-native set up on my mac machine.
 react-native --version
react-native-cli: 2.0.1
react-native: 0.58.5

I am getting an error like
'glog/logging.h' file not found

C compil

[2019-02-28 13:09] Bardiamist commented on #95
@PareshPatel721 maybe you have Sierra? Then you should update your OS.

[2019-02-28 13:57] kelset commented on #95
@PareshPatel721 	please refer to the issue section of the main repo.

[2019-02-28 15:41] grabbou commented on #95
Cherry-picked commits, pushed to the CI to test if it's all green. I am half-way done with manual checks on RNTester and `react-native init`'ed app - will resume to this in few hours.

[2019-02-28 16:36] kelset opened #97 "0.58.6 Discussion"
Conversation on this thread are limited to 0.58.6 release's major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.58.6 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new iss

[2019-02-28 16:36] kelset commented on #95
0.58.6 is out - thanks everyone!
New issue https://github.com/react-native-community/react-native-releases/issues/97

[2019-02-28 16:36] #95 closed

[2019-02-28 20:53] StasDoskalenko commented on #79
Hey guys! Please add this to 0.59
https://github.com/facebook/react-native/commit/f3e5cce4745c0ad9a5c697be772757a03e15edc5

[2019-02-28 22:03] vdlindenmark commented on #79
I'm getting this error when trying to run my app in release mode (iOS, Xcode, Cocoapods)

[code]

[2019-03-01 02:56] hramos commented on #79
@vdlindenmark can you open a new issue in the [React Native repository](https://github.com/facebook/react-native/issues) instead? Just make sure to make it clear it affects 0.59.0-rc.3 and to include a link back to this issue so we can keep track of it. I'll hide your comment to make sure we keep this thread to cherry-pick requests.

[2019-03-01 02:57] hramos commented on #79
@StasDoskalenko that is already part of 0.59, and it's one of the tentpole features for this release.

[2019-03-01 02:59] hramos commented on #79
@zenz please stick to cherry-pick requests for commits that are already in React Native master. Please do open a new issue in the [React Native repository](https://github.com/facebook/react-native/issues) if you have not yet, and link back to this issue. That way we can keep track of work that might benefit this release. Thanks!

[2019-03-01 05:16] shawnthye commented on #97
Hi, will this https://github.com/facebook/react-native/pull/23430 coming into this release?

[2019-03-01 05:21] shawnthye commented on #79
Hi, will this https://github.com/facebook/react-native/pull/23430 come into the next patch?

[2019-03-01 08:35] vdlindenmark commented on #79
I'm sorry. You could ignore my message. I've didn't configure the cocoapods right, discovered that this morning

[2019-03-01 09:27] grabbou commented on #79
Cherry pick
https://github.com/facebook/react-native/commit/e10d984c437187b2cfdb364248c93a261d3f5e46
to
upgrade Jest from an alpha release.

On Fri, 1 Mar 2019 at 09:35 vdlindenmark <notifications@github.com> wrote:

[2019-03-01 12:27] satyen-progton commented on #79
Please use android:usesCleartextTraffic="true" in AndroidManifest to allow development server run on android 9.0 devices

[2019-03-01 15:24] hramos commented on #79
@satyen-progton please send a pull request to the core RN repository. We are only handling cherry pick requests in this thread.

[2019-03-01 15:35] kelset commented on #79
@satyen-progton @hramos - actually @Salakar already added this to the docs -> https://facebook.github.io/react-native/docs/integration-with-existing-apps#network-security-config-api-level-28 (select the Android tab and mid way you'll see a dedicated section).

May be worth highlighting in the changelog for 0.59 cc @turnrye

[2019-03-02 20:24] furkancelik commented on #79
ios or android file cannot be recreated. (dont work react-native eject)

I get the following error when I run the react-native eject command when I want to delete and re-create the iOS or Android file.

<img width="568" alt="ekran resmi 2019-03-01 23 18 34" src="https://user-images.githubusercontent.com/6446228/53687164-4f5ad700-3d42-11e9-9ac5-9d85136be4c5.png">

[2019-03-04 11:26] kelset commented on #79
@furkancelik please open a dedicated issue in the correct repo (probably the RNCli one).

[2019-03-04 16:34] OlivierFreyssinet commented on #79
Hi! Is this https://github.com/facebook/react-native/commit/58c3a4c078c066038baa9a961afae498557a1e18 going to be in 0.59 ?

[2019-03-04 22:06] brunolemos commented on #79
https://github.com/facebook/react-native/commit/22b3528e7b5679ca34436bc032e6f1f1630d3c07
So I can drop my fork/patches.

[2019-03-05 09:18] sunnylqm commented on #79
Hi can you cherry pick this one https://github.com/facebook/react-native/commit/d2153fc58d825006076a3fce12e0f7eb84479132

[2019-03-05 16:20] tijp commented on #79
Hello! Can https://github.com/facebook/react-native/pull/23446 be cherry picked for 0.59?

[2019-03-06 12:44] retyui commented on #97
Why you don't upgrade Flow.js?

https://github.com/facebook/react-native/blob/7da864284997109a37bbef739289c5e6e8d0514e/.flowconfig#L101

[2019-03-07 08:19] ChrisEdson commented on #79
Out of interest, how close are we getting to a stable release of 0.59? It would be good purely because we're sort of in a holding pattern for developing things with hooks.

[2019-03-07 09:03] grabbou commented on #79
We are waiting for the changelog and blog post announcing 0.59 and we will
be making it stable. If it's not ready today, then, it's going to be Monday
to avoid releasing on Friday.

On Thu, 7 Mar 2019 at 09:19 Chris Edson <notifications@github.com> wrote:

[2019-03-07 09:23] matt-block commented on #79
So [facebook/react-native#23645](https://github.com/facebook/react-native/issues/23645) is not a release blocker anymore? Has it been solved in RC 3?

[2019-03-07 10:12] grabbou commented on #79
Didn't know about that one, thanks for cross-posting.

On Thu, 7 Mar 2019 at 10:23 Matei Radu <notifications@github.com> wrote:

[2019-03-07 17:20] hramos commented on #79
The release blocker label tracks issues introduced during the RC period, and is meant to help us avoid shipping a regression in a stable release. It is not intended for these issues to prevent new RC patches from being created.

[2019-03-07 17:30] matt-block commented on #79
@hramos Then I simply misinterpreted its meaning, thanks for clarifying!

[2019-03-08 12:54] grabbou commented on #79
We decided to wait with 0.59 stable release till next week (Monday/Tuesday) till there's more context on the aforementioned regression. We want to be sure whether it's a major that should be fixed before a stable release happen or a minor that we can disclose in the changelog as a "known issue".

[2019-03-09 06:22] cjroth commented on #79
Ahoy!

1. Excited about 0.59 stable.
2. Given that it's going to be released Mon/Tue, looks like this memory leak will have to wait until 0.60? :( https://github.com/facebook/react-native/issues/23801

Seems like it should be fairly high priority.

[2019-03-09 14:18] kelset commented on #79
@cjroth given that, as you posted in the issue, this seems to be a long lasting issue with RN (going as far as 0.57 at least) it won’t be considered a blocker for the release on 0.59.0. OFC any help you can provide over there in terms of debugging it and PRs will be super appreciated, and we’ll see how we can prioritize it against the current roadmap & pipeline.

Also, the PR with the fix of the b

[2019-03-09 19:59] cjroth commented on #79
@kelset sweet, excited about 0.59.0, thanks for the reply. I wish I had more time and was better at the native side of things. If I can find some time I might poke around but I already spent a few days tracking it down so not sure if I'll be able to find the time. Just wanted to make sure some folks in here were aware of it!

[2019-03-11 14:22] grabbou commented on #79
Turned out the issue was not really major. Anyway, since the PR is already being imported (https://github.com/facebook/react-native/pull/23823), we're going to wait for it to land and then, cut the RC.

I am hoping that means "today"

[2019-03-12 01:33] krunalsshah commented on #79
Looks `OkHttpClientProvider.replaceOkHttpClient(myHttpClient);` is a deprecated change [Android]

What is the suggestion if we want to replace the default OkHttpClient used by react native?

[2019-03-12 12:35] grabbou opened #99 "0.60.x Discussion"
Please note that we haven't cut 0.60-stable branch yet.

The latest release candidate is 0.59.0-rc.3. You can track it's progress here: #79

This thread is to inform you when next release candidate is going to happen. We are checking whether there is any "work-in-progress" that we should be aware of and wait before we make a next Release Candidate.

The plan is to release 0.60.0-rc.0 this week.

[2019-03-12 13:03] grabbou commented on #79
Closing this one as 0.59.0 is out. Let's continue discussions in a separate issue.

[2019-03-12 13:03] #79 closed

[2019-03-12 13:04] grabbou commented on #97
We have just released 0.59.0 stable. That means we no longer provide cherry-picks to 0.58.x versions.

[2019-03-12 13:04] #97 closed

[2019-03-12 13:05] grabbou opened #100 "0.59.x Discussion"
Conversation on this thread are limited to 0.59.0 release's major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue

[2019-03-12 13:24] el-lsan commented on #99
@grabbou

Please fix the link.

[2019-03-12 13:26] grabbou commented on #99
Fixed. Looks like Github UI had some issues.

[2019-03-12 13:33] pvinis commented on #99
Can I already ask for https://github.com/facebook/react-native/pull/23691? 🙏

[2019-03-12 14:05] gtebbutt commented on #100
Just missed the 0.59.0 cutoff, but could we cherry-pick https://github.com/facebook/react-native/commit/d834197746371b203bd7d7aaabdc2bc581acc867 please? It fixes the build on tvOS.

[2019-03-12 15:25] grabbou commented on #100
Is tvOS build completely not working w/o this commit? Otherwise, I'd wait a couple of days to see if there are any other commits to include too.

[2019-03-12 15:35] gtebbutt commented on #100
At least with the standard Xcode settings, it's a complete build failure (although the message describes it as a warning, there doesn't seem to be an option to ignore or override it).

That said, Xcode also prompts to fix the file in-place and it's easy enough to add those two lines - and honestly, given the small percentage of us using it on tvOS anyway, I wouldn't personally be worried about ano

[2019-03-12 17:28] ChrisEelmaa commented on #100
Can we get https://github.com/facebook/react-native/commit/fd954cda55b1f87d38bba7f42242163ecee78c35#diff-cf283d7cedacde5bd58c86627558a89c in?

we use TextInput with multiple lines and custom lineheight, the placeholder is not respecting lineheight currently having funky user experience.

[2019-03-12 17:51] cjroth commented on #100
We should add a note to the documentation / website / blog that upgrading requires first updating RN in npm/yarn and then running `react-native upgrade --legacy`. Otherwise you'll get an error that react-native is already 0.59 and it won't upgrade.

[2019-03-12 17:57] hramos commented on #100
@cjroth I just updated the blog post with some notes around the upgrade process (https://github.com/facebook/react-native-website/pull/828). Can you send a PR if you think that new section needs clarification?

[2019-03-12 18:07] cjroth commented on #100
Nice. Blog makes sense, I'll try to find time to make a PR for the Docs.

I also just noticed that the metro debugger UI is 404ing (localhost:8081/debugger-ui/). Does it need to be specifically enabled now? If so we should document that as well.

[2019-03-13 08:56] grabbou commented on #100
@cjroth we have just fixed that inside CLI. Reinstall `node_modules`'s and you are good to go.

[2019-03-13 16:55] grabbou commented on #100
@ChrisEelmaa the commit you linked depends on another one (https://github.com/facebook/react-native/commit/65c014d19f933771a69c7cbccdbb744330cf13a3), which adds a new feature rather than fixing a bug. Would you be okay trying 0.60 in a couple of days instead?

[2019-03-13 16:56] grabbou commented on #99
0.60 is not cut yet, so this will land.

[2019-03-14 03:51] dxhung87 commented on #99
Size APK sign can smaller?? In RN 0.57 APK size is 8MB in RN 0.58 APK size is 16MB and in RN 0.59.0 APK size is 30MB. For simple app, it's too large.

[2019-03-14 04:56] mikehardy commented on #99
Google mandates 64-bit support for apps starting 2019-08, so to meet that React-Native started specifying the 64-bit ABIs, and then included an updated JSC. Each of those increased the size a lot, but mostly in the per-ABI parts of the APK.

You'll want to generate per-ABI APKs for Google to serve so that your end users only download the ABI they need - meaning your actual end-user downloads might

[2019-03-14 05:04] guhungry commented on #99
@dxhung87 React Native add support [Android App Bundle](https://developer.android.com/platform/technology/app-bundle) in [0.58](https://github.com/facebook/react-native/commit/abfd563b471b8f57d6d6f54862082a49e1a58258) so it's a lot easier to optimise download for end user.

[2019-03-14 05:28] thinkzh commented on #99
在Android9.0系统上 ，text多行显示时，最后一行显示一半，好像整个text不计算行间距似的

[2019-03-14 05:28] dxhung87 commented on #99
Thanks @mikehardy  and @guhungry,
I known Android App Bundle and some time i upload multiple apks file too. But I thinks size of apks file build by React Native is larger than native too much. If size of it grow such I things React Native isn't good choice for simple application in Android. I hope it's smaller in new version.

[2019-03-14 05:29] thinkzh commented on #99
On Android 9.0, when text is displayed in multiple rows, the last line is displayed in half, as if the entire text does not calculate the row spacing.

[2019-03-14 09:48] cihati commented on #99
@mikehardy thanks for the explanation. It'd be super useful to have this information in the official RN docs.

[2019-03-14 12:59] kelset commented on #99
@dxhung87 @thinkzh this is not the correct place for those conversation - please use the issue section of the main repo. That said, thanks @mikehardy for explaining the change 🤗

[2019-03-15 02:13] zhongwuzw commented on #100
Please cherry-pick this https://github.com/facebook/react-native/commit/4aa731ae76b0c764d6c3a9ee19cb516f54da3284 to fix x86_64 build.

[2019-03-15 06:42] suther commented on #100
Would be great, if this would be fixed: https://github.com/facebook/react-native/issues/23342

[2019-03-15 19:18] yurykorzun commented on #100
After updating to 0.59.1 I can no longer debug on Android, because generated source maps are off. Everything works well on iOS. Could it be that updated JSC messed it up?

[2019-03-15 19:38] hramos commented on #99
Please cherry-pick https://github.com/facebook/react-native/commit/d4aa1e7a52b51fa5d7fc9ded132b7b50170f2190, as it contains a fix for an issue introduced in https://github.com/facebook/react-native/commit/d2153fc58d825006076a3fce12e0f7eb84479132#diff-a1e6ca3a6b1647be95d97e7890bcc11c that affects devices using Android API < 26.

[2019-03-15 19:54] hramos commented on #100
@suther that's a link to a pull request opened before 0.59 was cut. We're only tracking cherry-pick requests for commits that are already in master.

[2019-03-15 20:00] elucaswork commented on #99
Please cherry-pick those updates to `AccessibilityInfo` https://github.com/facebook/react-native/commit/0090ab32c2aeffed76ff58931930fe40a45e6ebc
https://github.com/facebook/react-native/commit/40de0495b96f6ef611a8344f8ca61dc6f8f6e020

[2019-03-16 08:58] renalpraba commented on #99
What 0.60 likely will have? and is it will have any breaking changes?

[2019-03-16 16:15] sunnylqm commented on #100
Please cheery pick https://github.com/facebook/react-native/commit/845189c17de621cc5aa373503220c1c12f649c3c

[2019-03-16 17:45] grabbou commented on #99
0.60 hasn’t been released yet as we are waiting for some commits to land. Please hold on with requesting cherry picks as there’s no release yet.

I will keep you updated.

[2019-03-17 08:04] dulmandakh commented on #100
Cherry picks:
- fix trackColor on Android - https://github.com/facebook/react-native/commit/d6ee448e15a25a7485482a4702aadb2e396445c7
- Do not use autofill methods on Android APIs older than Oreo - fixes crash - https://github.com/facebook/react-native/commit/d4aa1e7a52b51fa5d7fc9ded132b7b50170f2190

[2019-03-18 13:21] mjmasn commented on #100
Just a heads up for anyone concerned there appears to be a fairly major issue with `<TouchableNativeFeedback />` in 0.59 if you use `onLongPress`.

https://github.com/facebook/react-native/issues/24001

[2019-03-18 14:17] bdrobinson commented on #100
I don't think this is in any 0.59.x release yet but would be great to have if possible – fixing a bug where refresh control on ios gets stuck in a particular state and then stops being interactive: https://github.com/facebook/react-native/commit/95d399bc825c5471e08b83eff4b1b1b510e384a0

[2019-03-19 06:06] adrianha commented on #100
Hi,
Please cherry pick https://github.com/facebook/react-native/commit/e38be82dfa8b49385b990629318f027de26500cf to solve broken single line text input when typing text reverts to default value

![TextInput behaviour](https://user-images.githubusercontent.com/5382429/54583704-984fa280-4a47-11e9-8c82-dc0bb73d9b7f.gif)

[2019-03-19 10:50] dulmandakh commented on #100
cherry pick:
- use Conscrypt as security provider if available  - https://github.com/facebook/react-native/commit/75af15ede44135110e40de75a649d5b15430c590

[2019-03-19 10:58] grabbou commented on #100
Thanks for the request. I am going to look into them and release a new version either today or tomorrow.

[2019-03-19 14:48] danilobuerger commented on #100
Please cherry pick:
* Fixed regression in SectionList caused by #21577 not being able to scroll to top on android - https://github.com/facebook/react-native/commit/8fa116cc0e1cadbb6cf0734cfde0e0b8060f6b59

[2019-03-20 02:52] elucaswork commented on #99
please cherry-pick this one https://github.com/facebook/react-native/commit/fa426cf05f65299420bd4e4dd0e7658e76a424ef adding `openSettings` method to `Linking` module

[2019-03-21 14:59] jsamr commented on #100
Please cherry pick:

- Fix scrollview over bounds of content size [facebook/react-native@`9c1c5a7`](https://github.com/facebook/react-native/commit/9c1c5a7455d90ec837a9a6141c096de70b798e43)

[2019-03-21 20:54] kelset commented on #99
Hey everyone - we have reached a decision on our approach to the releases (you can read the details [here](https://github.com/react-native-community/discussions-and-proposals/issues/17#issuecomment-475397553)).

Related to it, we have decided to postpone the release of 0.60 of around a couple weeks: we will remove the current 0.60 branch and re-cut it in the near future. We'll open a new issue onc

[2019-03-21 20:54] #99 closed

[2019-03-22 02:41] guhungry commented on #100
Please cherry pick

-  fix: Start Metro packager from project root https://github.com/facebook/react-native/commit/fe3aebf87b4123f8b16cdfcb9e2e774e6e0bf0b6

[2019-03-22 08:35] RWOverdijk commented on #100
As referenced, https://github.com/facebook/react-native/pull/23585 would be great which fixes https://github.com/facebook/react-native/issues/24087

[2019-03-22 10:01] grabbou commented on #100
Since we have decided to postpone 0.60 release over a week, I am going to do cherry-picking today and release a new version.

[2019-03-22 10:03] grabbou commented on #99
Important note: many of you requested cherry-picks even though 0.60 wasn't released yet. If you need certain features or fixes and you think they are important to the community, please comment about them in [0.59](#79) issue.

[2019-03-22 10:33] sunnylqm commented on #100
Please cherry pick
Fixed regression in SectionList caused by #21577 not being able to scroll to top on android
https://github.com/facebook/react-native/commit/8fa116cc0e1cadbb6cf0734cfde0e0b8060f6b59

[2019-03-22 17:01] andyboythekid commented on #100
i can't seem to find which version this was merged into: https://github.com/facebook/react-native/pull/23446 would fix code-push image problems!

[2019-03-22 17:18] grabbou commented on #100
@andyboythekid - it's not part of any of the releases yet. You can check the associated commit to this PR and you'll see it says "master", which means it's not part of any of the branches.

[2019-03-22 17:30] grabbou commented on #100
Finished cherry-picking for 0.59.2. The build is now on the CircleCI. I'll check its status in a few hours and if it's all green, I will send it out.

[2019-03-22 19:26] andyboythekid commented on #100
from what i can tell, this update is actually in 0.59.1, at least its working after upgrading for me! thanks!

[2019-03-22 23:10] grabbou commented on #100
The release is ready to go. However, since it’s Friday, let’s wait till Monday morning to release it.

[2019-03-25 21:23] grabbou commented on #100
0.59.2 is on CircleCI. Will hit `npm` in around 30 minutes.

[2019-03-26 00:47] sunnylqm commented on #100
Please cherry pick
https://github.com/facebook/react-native/commit/9db347fabca19c66f669faf4054c81cc3624be03

[2019-03-28 10:56] kelset commented on #100
This would be good to cherry pick too https://github.com/facebook/react-native/commit/c13f5d48cfe3e7c0f6c6d0b745b50a089d6993ef

[2019-03-29 10:39] radeno commented on #100
My two cents:

- https://github.com/facebook/react-native/commit/aad4dbbbfe937d1924e5359556979ab067198a58
- https://github.com/facebook/react-native/commit/395197dafe52355c8273f02e1952cdd4ba64a117 supplement to RN 0.59.2 which adds eslint
- https://github.com/facebook/react-native/commit/15619c22e57f73dfbed7bbe5fd6d9b3d2a8c9225 very handy
- https://github.com/facebook/react-native/commit/b3c74967c

[2019-03-29 20:27] cjroth commented on #100
@grabbou re the debugger-ui not working - I have cleaned my yarn cache, removed all node modules, and then reinstalled everything. It's still happening.

[2019-04-01 09:51] kelset commented on #100
hey everyone - I've cherry-picked most of the requests, and CI is green. Expect 0.59.3 later today or tomorrow.

[2019-04-01 10:35] grabbou commented on #100
Can you outline @kelset what commits you have not cherry-picked? Would help to maintain this thread and also see what we can do with them (reject, ask authors to send a PR, see if they depend on another commit that can easily resolve the conflict).

[2019-04-01 11:36] kelset commented on #100
Sure - sorry I totally forgot: I've cherry picked

* https://github.com/facebook/react-native/commit/b3c74967ca6b20d7bda84c690ae3a99dfe255843
* https://github.com/facebook/react-native/commit/02e8e531ddfd86e9abf7ef47fbf30445afeb37cf
* https://github.com/facebook/react-native/commit/aad4dbbbfe937d1924e5359556979ab067198a58
* https://github.com/facebook/react-native/commit/15619c22e57f73dfbed7bbe5fd

[2019-04-01 13:08] Bardiamist commented on #100
Why https://github.com/facebook/react-native/commit/56679ed359834c2177c8837d744cc7bf2ceb6b0a not included?
I'm just trying to implement universal link in my project:)

[2019-04-01 13:49] kelset commented on #100
@Bardiamist there was a conflict that looked fairly complex to solve. If you want to try and fix it for yourself (which is the procedure we follow in these scenarios) you can fork the main repo, switch to the 0.59 branch and try the cherry pick, and then submit a pr against that branch.

[2019-04-01 14:04] Bardiamist commented on #100
@kelset I tried and no have conflitct on cherry pick. I think I should not create pr for this.

![Screenshot](https://i.imgur.com/HEaVlBl.png)

[2019-04-01 14:50] kelset commented on #100
Uhm, weird. Ok let's try again that commit for 0.59.4

[2019-04-01 14:51] kelset opened #109 "0.59.3 Discussion"
Conversation on this thread are limited to 0.59.3 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59.3 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-04-01 14:52] kelset commented on #100
Anyway, now that 0.59.3 is out, let's move to a new issue to clean up the history & remove some noise -> https://github.com/react-native-community/react-native-releases/issues/109

[2019-04-01 14:52] #100 closed

[2019-04-01 14:54] kelset commented on #109
To cherry pick:
* https://github.com/facebook/react-native/commit/395197dafe52355c8273f02e1952cdd4ba64a117 (need to make sure that the CLI is ok with this)
* https://github.com/facebook/react-native/commit/56679ed359834c2177c8837d744cc7bf2ceb6b0a (apparently it should be without cherry-pick-conflicts, based on [this](https://github.com/react-native-community/react-native-releases/issues/100#issuec

[2019-04-02 14:16] gaodeng commented on #109
Is there any chance of this https://github.com/facebook/react-native/pull/24238 entering version 0.59.4

[2019-04-02 15:47] tamirrab commented on #109
Hi
Text:
on Android only, textAlign: "right" doing "left" instead of right.
only on 0.59.3 and only on Android

[2019-04-02 15:54] kelset commented on #109
@tamirrab that looks like a regression, can you please open a dedicated issue in the main repo?

[2019-04-02 15:57] tamirrab opened #110 "0.59.3 Text component on Android getting other side on textAlign"
Hi
Text:
on Android only, textAlign: "right" doing "left" instead of right.
and "left" doing "right" instead of left.
only on 0.59.3 and only on Android

[2019-04-02 16:01] tamirrab opened #111 "0.59.3 TextInput component on Android getting other side on textAlign"
Hi
TextInput:
on Android only, textAlign: "right" doing "left" instead of right.
and "left" doing "right" instead of left.

And the the textAlign property doesn't effect the placeholder at all

only on 0.59.3 and only on Android

[2019-04-02 16:16] mikehardy commented on #110
This isn't the main repo, I think @kelset meant the facebook/react-native repo, not react-native-releases

That said, this looks directly related to the RTL changes https://github.com/facebook/react-native/commit/871290f (from https://github.com/facebook/react-native/releases), and I'm guessing it's because whatever device you checked it on had an RTL locale set but this wasn't ever expressed unti

[2019-04-02 16:19] tamirrab commented on #110
There is a different only on android and only from changing from 0.59.2 to 0.59.3
The same device and same repository

On iOS it’s OK

[2019-04-02 16:24] mikehardy commented on #110
Right, you updated react-native, so you might check the 0.59.2 to 0.59.3 changelog, it would be evident iOS wouldn't change, because there were no changes there. https://github.com/facebook/react-native/compare/v0.59.2...v0.59.3

[2019-04-02 16:26] tamirrab commented on #110
So how can I create an issue to fix that?

[2019-04-02 16:31] mikehardy commented on #110
https://github.com/facebook/react-native/issues

you may be able to work around this with your text properties though. The upstream change was the right thing to do, it is just that your app wasn't expecting RTL to actually *work* and it is now.

[2019-04-02 16:34] tamirrab commented on #110
I think there is an issue because "right" on LTR need to be on the right side.
on iOS is in the right side.
on android 0.59.2 is in the right side
on android 0.59.3 is in the LEFT side
something is not good

[2019-04-02 21:53] nzankich commented on #109
Could we possibly get this in for 0.59.4? https://github.com/facebook/react-native/pull/23402

[2019-04-03 01:28] sunnylqm commented on #109
Please cherry pick this one:
https://github.com/facebook/react-native/commit/556aa93ed72d9dc0f18a1c6d7dec3d9c182fee85

[2019-04-03 13:48] mazenchami commented on #109
I hope this is the right place to post this (as other people just get shut down)...

but when i try to run my project in the simulator, no issues (except for some known warning messages).
when i try to archive the project, i get the following error: `AppDelegate.m:13:9: fatal error: 'React/RCTLog.h' file not found` and also other `'React/RCT*.h'` errors.

<details>
 <summary>Info</summary>
React N

[2019-04-03 16:32] thymikee commented on #109
Please cherry-pick https://github.com/facebook/react-native/commit/7e23c7c5654818fa076eeb627b709d39130f57f6 it's important for Lean Core extracted modules to cause less friction in testing :)

[2019-04-03 17:31] FibreFoX commented on #111
@tamirrab please close this, as this has nothing to do with this repository.

[2019-04-03 17:49] #111 closed

[2019-04-04 01:51] renalpraba commented on #110
@tamirrab I think it's better to close this as you have open another one and already tracked reproducible in the [main repo](https://github.com/facebook/react-native/issues/24267)

[2019-04-04 02:02] turnrye commented on #110
Thanks for the link to the main repo -- I'm closing this here since it's not related to the release process.

[2019-04-04 02:02] #110 closed

[2019-04-04 02:32] mysport12 commented on #109
Any chance we can get this one cherry picked? facebook/react-native@6f4239b

[2019-04-04 15:26] mjmasn commented on #109
https://github.com/facebook/react-native/commit/59e50237bff9521d2b78d7576abf4e23d844ac1b please!

[2019-04-06 08:28] itsjgf commented on #109
https://github.com/facebook/react-native/commit/629708bedae65a30e39d234da6b04d6fa101a779 (Crash reporting heaven )

Thanks!

[2019-04-08 07:25] grabbou commented on #109
Hey, Monday sounds like a good moment to do another release! I'll cherry-pick these commits and do 0.59.4 later today.

@itsjgf we have discussed internally to keep crash reporting for 0.60 which is going to arrive really soon.

[2019-04-08 21:27] grabbou commented on #109
Unfortunately, I couldn't cherry-pick the following commits:
- facebook/react-native@395197d - requires changes to the CLI - this will ship under 0.60 where it's synced up

The commit proposed by @thymikee was causing conflicts and I had to import 2 other commits to make it pass.

Pushed and going to do testing now.

[2019-04-08 21:59] grabbou commented on #109
0.59.4 is out now.

[2019-04-08 21:59] #109 closed

[2019-04-08 22:00] grabbou opened #113 "0.59.4 Discussion"
Conversation on this thread are limited to 0.59.4 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59.4 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-04-09 05:42] maxschmeling commented on #113
Can we get https://github.com/facebook/react-native/commit/6508b88cfdccdb2da6bfde05faac4647436ce4e7 cherry-picked to remove the annoying `RCTImagePickerManager` warning.

[2019-04-10 07:09] theolavaux commented on #113
facebook/react-native@60c0a60 fixes a bug where TextInput's caret position resets when toggling on/off the secureTextEntry prop.

[2019-04-10 22:17] rdonnelly commented on #113
https://github.com/facebook/react-native/commit/33b55ccccad56e0b97af294749d728b67b03e658 Is a fix to calculate correct window dimensions for iOS (e.g. split view apps). Can this be cherrypicked? Thanks!

[2019-04-11 10:35] kenvunz commented on #113
facebook/react-native@f01c4e2a14c194c7a02bc5afe1900573af02b0c7 please! This will bring Android closer to iOS in terms of specifying `font-weight` / `font-style` combination with custom fonts

[2019-04-12 04:07] bondchan921 opened #114 "react-native run-android - Execution failed for task ':app:signingConfigWriterDebug'."
C:\bond\workspace\igApp>react-native info
info
  React Native Environment Info:
    System:
      OS: Windows 7
      CPU: (4) x64 Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz
      Memory: 7.99 GB / 15.64 GB
    Binaries:
      Yarn: 1.15.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.7.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5

[2019-04-12 04:10] #114 closed

[2019-04-12 12:55] BerndSchrooten commented on #113
https://github.com/facebook/react-native/commit/c953e0b4319da0976ece877c09b648a55bc57d9f fixes a problem with Android JSStacktraces that causes apps to crash. Can this be added? Thanks!

[2019-04-13 21:41] lorenc-tomasz opened #115 "[Question] Can we safely use React 16.8.4 or higher with RN 0.59.4?"
Hi,
we had long discussion within the team about it but without consensus. Maybe you can help?

[2019-04-14 06:03] Bardiamist commented on #115
@lorenc-tomasz You can't safely use another version because it required sync commit from Facebook. Example for React 16.8.3: https://github.com/facebook/react-native/commit/d4ce8463a853a29cc977fcbf390b43940f521bd2 . This have many changes besides raising version.

[2019-04-14 08:07] lorenc-tomasz commented on #115
Thanks. Sadly I was right as new react-redux requires at least 16.8.4

[2019-04-14 08:07] #115 closed

[2019-04-14 08:17] Bardiamist commented on #115
@lorenc-tomasz I think you can use new react-redux. `react-redux` should download and use required dependencies (`react` 16.8.4) but `react native` will still use react from you'r `package.json`.

[2019-04-15 08:41] RuairiOliver commented on #113
https://github.com/facebook/react-native/commit/f149426c832a37276bde37e1632c22ba65c5f078 fixes several UIImplementation related crashes on Android

[2019-04-15 10:56] ferrannp commented on #113
There has been some regression where you are not able to have a full view (centered) as an empty view for a FlatList. This fixed it https://github.com/facebook/react-native/pull/24339. Can we cherry pick it @grabbou ? :)

[2019-04-16 15:15] RuairiOliver commented on #113
Could we also please include this fix for network request failed error on android: 7https://github.com/facebook/react-native/commit/75af15ede44135110e40de75a649d5b15430c590

[2019-04-16 15:17] mikehardy commented on #113
@RuairiOliver already pulled as of 0.59.2 https://github.com/facebook/react-native/releases/tag/v0.59.2

[2019-04-16 15:23] RuairiOliver commented on #113
Great stuff, thanks for that. Will check it out, I'm on 0.59.1 just now so hopefully it sorts my issue.

[2019-04-16 21:00] grabbou commented on #113
Going to cut 0.59.5 tomorrow. Thanks for your participation.

[2019-04-17 19:28] grabbou commented on #113
@kekenvunz, I didn't cherry-pick this commit. I need to test it with the CLI and `link` and see how it works. This is most likely going to land in 0.60.

@mikehardy, this commit is not part of 0.59.2 (at least that's what Git tells me). I am re-doing it myself (adding synchronised methods), because it can't be cherry-picked - it depends on a Yoga-related commit that I am not really sure whether I

[2019-04-17 19:32] grabbou commented on #113
Waiting for the tests now. Will keep you posted.

[2019-04-17 19:33] ahce commented on #113
@grabbou can you pick [react sync](https://github.com/facebook/react-native/commit/83c0d025f1a18de839c69289065655b533084520)?

[2019-04-17 19:36] RuairiOliver commented on #113
I might have confused things there. I had commented about a second commit to cherry pick but deleted that comment after Mike mentioned it was in 0.59.2. Looking forward to trying out 0.59.5, thanks!

[2019-04-17 20:12] mikehardy commented on #113
Correct - and no worries, my comment about 0.59.2 was about the new ability to include Conscrypt and react-native would use it if avaiable, for networking.

I'm most excited about the JSStackTrace / NoSuchKey exception fix :-). Thanks @grabbou !

[2019-04-17 20:59] grabbou commented on #113
@mikehardy & @RuairiOliver - no worries, appreciate the explanation :)

@ahce, React sync commits are usually hard to cherry-pick. I've followed up with Facebook team to check whether it's safe to do.

[2019-04-17 21:04] grabbou opened #116 "0.60.x Discussion"
0.60.0-rc.0 is most likely going to be released tomorrow. The branch is already cut. We are working on the changelog.

Stay tuned.

[2019-04-17 21:52] grabbou commented on #113
Waiting for FB team to answer. Meanwhile, decided to do 0.59.5 w/o React sync. We will release 0.59.6 once we know it's safe and okay to do the bump.

[2019-04-17 22:02] #113 closed

[2019-04-17 22:02] grabbou opened #118 "0.59.5 Discussion"
Conversation on this thread are limited to 0.59.5 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59.5 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-04-18 05:16] deorukhkarchaitanya commented on #118
facebook/react-native@f01c4e2

It seems like Android could use some support for fontStyle and fontWeight with custom fonts. This is already supported on iOS and would give some love for Android too!

[2019-04-18 08:49] RuairiOliver commented on #113
Up and running on 0.59.5, thanks @grabbou !

[2019-04-18 09:33] radeno commented on #116
@grabbou I think better timing for cut first RC should be next week. Easter holidays are behind door and many developers will not work. Even first RC-0 will be as fresh as possible.

[2019-04-18 12:00] grabbou commented on #118
It's been already requested, please look at my answer here: https://github.com/react-native-community/releases/issues/113#issuecomment-484228780

[2019-04-18 12:01] grabbou commented on #118
I am going to cherry-pick React sync commit and do another release, as agreed yesterday. I now got confirmation from the Facebook team that there shouldn't be any problems. I will consider it "working" when all tests pass.

[2019-04-18 18:17] grabbou commented on #118
React sync commit caused regressions that we didn't spot during testing. Note to self: Never cherry-pick React syncs, especially the ones that just landed, as they can cause some issues in production.

0.60.0-rc.0 will be out shortly and that should give you a place to test it.

[2019-04-18 18:18] grabbou commented on #118
CC: @pvinis - mind updating releases repo to not have that one in upgrade?

[2019-04-18 19:42] pvinis commented on #118
remove .5?

[2019-04-18 20:10] pvinis commented on #118
removing .6 now

[2019-04-19 16:25] rhdeck commented on #116
Was the delay monday decided? Or is the drop happening today (Friday)? Looking to test the hot new autolinking.

[2019-04-20 14:56] turnrye commented on #116
@rhdeck yes, we're delaying the publish til Monday. We'll have a WIP changelog today, though it'll still need a lot of refinement.

[2019-04-20 15:00] grabbou commented on #116
Yes. The release is ready to go and tests are passing. I wanted to wait for the changelog because the amount of changes is quite big and we want to wrap it up on the CLI side too.

[2019-04-23 23:59] matthargett commented on #118
Gathered requests from teams that will be on 0.59 for a while that I don't think have been proposed for cherry-pick yet:
https://github.com/facebook/react-native/commit/c36151ecef3b1d23d22ca7b185629cb5e5569751
https://github.com/facebook/react-native/commit/e980d83389caa3e017ddc8a6cd9603cd680ccc26
https://github.com/facebook/react-native/commit/b76acd3f42ddff72f036dec608e0e44457b4c22b
https://gith

[2019-04-24 00:03] matthargett commented on #118
If there's no compatibility problems, this one would also be great to reduce bundle size. We already do this with a patch on top of RN.
https://github.com/facebook/react-native/commit/06cf7face24d0f06e7b690dfc30912ec1e3e1bfb

[2019-04-24 09:33] jtreanor commented on #118
https://github.com/facebook/react-native/commit/31850df116fdd1595dddcd7b37a21568e679ffa7

This is a simple change that fixes several build warnings that have started to appear in Xcode 10.2, particularly when using CocoaPods. It would be great if it could be included in the upcoming version.

[2019-04-24 09:53] danilobuerger commented on #118
Please cherry pick
* [Android] [Fixed] - LayoutAnimations cause invalid view operations https://github.com/facebook/react-native/commit/20b4879dfd34716997e92bb5d89b0e4f873fef98

[2019-04-24 11:09] dulmandakh commented on #118
Please cherry pick:
- Fixes Android RTL - https://github.com/facebook/react-native/commit/8d3e16831a93079fc5a855a7b0f8b4be508c6942

[2019-04-24 17:54] thorbenprimke commented on #118
Please cherry pick - thanks!

[Android] [Fixed] - The ReactCookieJarContainer/ForwardingCookieHandler now handles the missing WebView  gracefully.  [#24533](https://github.com/facebook/react-native/pull/24533)

[2019-04-25 04:49] Vyazovoy commented on #116
Any chances it will be published this week?

[2019-04-26 01:52] piashcse commented on #116
is there any possibility to release 0.60-rc0  by next week?

[2019-04-26 21:47] matthargett commented on #118
https://github.com/facebook/react-native/commit/c87de765f6a9ebf656c188fa2115a1ba01b7939c

[2019-04-28 16:15] grabbou commented on #116
Yes, the plan is to release it this week, ideally before Wednesday. We are
still waiting for one CLI issue to be fixed, others have been already
resolved.

On Fri, 26 Apr 2019 at 03:53, Mehedi Hassan Piash <notifications@github.com>
wrote:

[2019-04-28 19:18] Bardiamist commented on #118
It should fix `letterSpacing` of `TextInput` on iOS.
https://github.com/facebook/react-native/pull/23738

[2019-04-30 03:14] elucaswork commented on #118
* Fix accessibility event properties for TextInput https://github.com/facebook/react-native/commit/61c5e356cac844948383800dc64ed23c88181cee
* Add convert compatible of NSString for bridge message data https://github.com/facebook/react-native/commit/ffa3b0d4d601fe6788319a7cfd4185b8e4bf462f

[2019-04-30 08:43] kelset commented on #118
looks like this needs to be cherry picked too https://github.com/facebook/react-native/pull/24580

[2019-04-30 12:38] NLthijs48 commented on #118
It would be nice if this one could get cherry picked:

https://github.com/facebook/react-native/commit/6f6696fa63dc5f7029cb121c7e0ee98f8d271602 [Android] [Fixed] - JS errors during bundle load were reported as UnknownCppException.

(pull request https://github.com/facebook/react-native/pull/24648)

[2019-04-30 20:19] grabbou commented on #116
0.60 is currently blocked due to CocoaPods integration. We have recently migrated default template to CocoaPods but want to avoid users running `pod install` after `react-native init`.

Our work can be tracked here: https://github.com/facebook/react-native/pull/24638, tho we are hitting blocker after blocker.

Heading off to holidays, will be back on Monday and that's most likely when I resume my

[2019-04-30 20:34] grabbou commented on #118
Cherry-picked everything except for @matthargett commits (yet to go through them and do it) and @Bardiamist (unfortunately, it doesn't merge clearly).

I'll resume tomorrow morning.

Note: The reason it took so long to get to cherry-picking commits to 0.59 was that we were working hard on 0.60. Now that we are partially on hold there, we are back here!

[2019-05-01 02:41] jeveloper commented on #116
Hope you have a great holiday man , good for you @grabbou

[2019-05-02 08:36] grabbou commented on #118
There were some discussions happening yesterday regarding what we should still cherry pick before releasing this version.

I am waiting to confirm the results of this conversation (timezone differences) and will be back to the release work.

[2019-05-03 10:56] viktorlarsson commented on #118
Anyone experienced issues with the remote debugging console on iOS? The app becomes unresponsive as soon as it is running on a real device.

[2019-05-03 11:36] Salakar commented on #116
Any chance we could cherry pick these two small commits:

- https://github.com/facebook/react-native/commit/bdb1d4377e47c6cd49ff619134d4860519a3cb0c
- https://github.com/facebook/react-native/commit/88dbb4558cd10f129f2c31e3b0b872924aba5416

[2019-05-03 12:25] kelset commented on #118
@viktorlarsson please open an issue on the main repo for that

[2019-05-03 16:05] kelset commented on #118
hey everyone, expect a new patch release of RN next week. We are still discussing this side of the whole process but we'll keep you updated as we decisions are reached.

[2019-05-03 16:08] mikehardy commented on #116
@Salakar - I don't think 0.60 is cut yet, so that comment might best be on 0.59.x for cherry pick?

[2019-05-03 16:09] mikehardy commented on #118
I don't think 0.60.x was cut yet, so I think the comment here asking for cherry-picks to 0.60 should be here? https://github.com/react-native-community/releases/issues/116#issuecomment-489066854

[2019-05-04 02:15] sunnylqm commented on #116
@mikehardy Already cut and was planned to publish last week https://github.com/facebook/react-native/commits/0.60-stable

[2019-05-06 11:12] grabbou commented on #116
Yes. I can include them too once we are done with the CocoaPods issue.

Update: Unfortunately, the approach in facebook/react-native#24638 ended up being a dead end. We will be running `pod install` on the client side (meaning you need to have CocoaPods pre-installed).

We are going to implement this ticket https://github.com/react-native-community/cli/issues/368 and we will ship 0.60 as soon as i

[2019-05-06 18:22] ahce commented on #118
@grabbou is safe [React Sync](https://github.com/facebook/react-native/commit/ee681b72ce89539e5764ed59e5dfea4fab04d48c) for cherry-pick?

[2019-05-06 18:28] grabbou commented on #118
Didn't cherry-pick facebook/react-native@5e36b0c, https://github.com/facebook/react-native/commit/d5ae59ab2a09cda5109303abb9c269318a1e6686
, facebook/react-native@06cf7fa, https://github.com/facebook/react-native/commit/1946aee3d9696384d38890269ea705cafd472827, https://github.com/facebook/react-native/commit/e980d83389caa3e017ddc8a6cd9603cd680ccc26 (prop change - breaking patch release) and two te

[2019-05-07 07:20] matthargett commented on #118
https://github.com/facebook/react-native/commit/28e0de070d2dae9a486ab5915b6fd76723bd84ef

Fixed haste for all out of tree platforms

[2019-05-07 09:14] jsamr commented on #116
Please cherry-pick [facebook/react-native@`c5c79e5`](https://github.com/facebook/react-native/commit/c5c79e5d718ad0777e014dd8c1e8d398d8172f3d) which prevent a memory leak on iOS!

[2019-05-07 09:59] grabbou commented on #118
@matthargett - that one has been cherry-picked. I am now waiting for changelog and this is good to go.

[2019-05-07 17:59] danilobuerger commented on #118
@grabbou Is there a reason why the above mentioned bugfix

[Android] [Fixed] - LayoutAnimations cause invalid view operations facebook/react-native@20b4879

was not cherry picked?

[2019-05-08 09:21] jsamr commented on #116
And it would be marvelous if we had font family support in Android, which has just been merged into master [facebook/react-native@`fd6386a`](https://github.com/facebook/react-native/commit/fd6386a07eb75a8ec16b1384a3e5827dea520b64). This PR makes [Android xml font declarations](https://developer.android.com/guide/topics/ui/look-and-feel/fonts-in-xml) operable within the React Native framework.

Bas

[2019-05-08 13:00] grabbou opened #124 "0.59.8 Discussion"
Conversation on this thread are limited to 0.59.8 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59.7 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-05-08 14:26] kelset commented on #124
hey @mjmasn nice catch - thanks for pointing it out. I just checked on my "non-trivial" test app (https://github.com/kelset/test-react-nav-with-screens) that updating the patch version of React doesn't create any issues and I couldn't detect any.

But yeah we should modify the changelog to make sure that everyone is aware 👍

[2019-05-08 14:57] grabbou commented on #124
Thank you the heads up. It was my mistake. Going to publish 0.59.8 again. I forgot to revert the bump commit (which was the reason why 0.59.6 was unpublished).

[2019-05-08 15:49] grabbou commented on #118
The release hasn't been cut yet due to Detox failure - we are investigating it.

[2019-05-08 15:49] grabbou commented on #118
The release hasn't been cut yet due to Detox failure - we are investigating.

[2019-05-08 17:13] #118 closed

[2019-05-08 17:14] grabbou commented on #124
Published as 0.59.8. Didn't cherry-pick https://github.com/react-native-community/releases/issues/124#issuecomment-490476233 because it depends on another commit and it can't be applied easily.

I also didn't cherry-pick the "Fix accessibility event properties for **TextInput**" ([0a3bbc](https://github.com/facebook/react-native/commit/0a3bbcd1b2c) by [@elucaswork](https://github.com/elucaswork)))

[2019-05-09 01:16] roshangm1 commented on #124
Was 0.59.7 removed ? I was quick enough to update to 0.57.7 yesterday. :D

[2019-05-09 10:32] karanjthakkar commented on #124
Can we include this commit: https://github.com/facebook/react-native/commit/c953e0b4319da0976ece877c09b648a55bc57d9f? It fixes a crash while parsing stacktraces in Android.

[2019-05-09 13:48] mikehardy commented on #124
@karanjthakkar - I double-checked this one since it has bitten me and I thought it was already included, it appears to already be included? https://github.com/facebook/react-native/blob/v0.59.8/ReactAndroid/src/main/java/com/facebook/react/util/JSStackTrace.java#L29

It was included in 0.59.5 actually - https://github.com/facebook/react-native/blob/v0.59.5/ReactAndroid/src/main/java/com/facebook/r

[2019-05-09 16:42] karanjthakkar commented on #124
@mikehardy I was following this guide to see if that commit made it to a release: https://github.com/react-native-community/releases#when-will-my-fix-make-it-into-a-release And it didnt show up so I thought maybe it isnt released yet.

[2019-05-09 16:45] mikehardy commented on #124
@karanjthakkar very interesting - yes, there is the .59-stable tag on there, but the other tags (for the point releases) are not there. Not sure if that is a documentation bug vs updated tooling for releases, or whether the releases aren't tagging, or what? I only double-checked because that cherry-pick in particular was the majority of my Android crashes :-). I really wanted to be sure for myself

[2019-05-10 08:15] danilobuerger commented on #116
Is 0.60 going to be recut? If not, please cherry pick

* [Android] [Fixed] - LayoutAnimations cause invalid view operations facebook/react-native@20b4879
and its dependent commits.

(This was already requested for 0.59.5, but couldn't be cherry picked because of a dependent commit)

[2019-05-10 08:23] radeno commented on #116
I agree with @danilobuerger about recutting new RC0. 22 days from first recut is long time. Many fine bugfixes and some new improvements are very promising to have in first release candidate. But i don't know how much time it takes and how much new problems and issues will appear after merging commits.

[2019-05-10 10:33] kelset commented on #124
usually that's caused by cherry-picking, because that basically duplicates the commit so the reference is basically lost, hence why you couldn't see find it.
(anyway, gonna hide the comments)

[2019-05-13 22:02] jinshin1013 commented on #116
Can we also cherry pick this if it's not too late?:
- [iOS] Fixes tintColor not changing on Gif image on iOS [facebook/react-native@`75380aa`](https://github.com/facebook/react-native/commit/75380aa3296210777dc0be70a722701767276117)

[2019-05-14 09:39] grabbou commented on #116
We will look into re-cutting 0.60 before making the first release. Depending on the tests and stability, we may or may not do it.

I will update you in this issue. Meanwhile, please wait a bit with suggesting cherry-picks until you give the first release a go.

[2019-05-14 11:08] rhdeck commented on #116
Is there a new timeframe? We're four weeks past "most likely going to be released tomorrow." We all know things take time, but would help my dev efforts to have a rough undertstanding of when this would be pre-release, but on npm.

[2019-05-14 11:14] grabbou commented on #116
Unfortunately, no time frame. We are working on it all the time. I will
give you an update in two days, where we should have a better overview.

On Tue, 14 May 2019 at 13:08, Ray Deck <notifications@github.com> wrote:

[2019-05-14 11:18] kelset commented on #116
As Mike said, we are doing what we can to get to the point where we can produce a stable 0.60 first RC.

Also, as we communicated here some time ago -> https://github.com/react-native-community/discussions-and-proposals/issues/17#issuecomment-475397553 we are changing a bit the approach to releases so that they are "more distant" from each other, and more "meaty", in a way. This ofc can lead to co

[2019-05-15 09:55] kelset commented on #124
If we can, we should try to cherry pick this: https://github.com/facebook/react-native/commit/30348f789946dc99f5ccd02c85c8decbdb9ac29b

it seems that Gradle 3.4.0 causes crashes.

[2019-05-17 06:10] jinshin1013 commented on #124
Can we also cherry pick this if it's not too late?:
- [iOS] Fixes tintColor not changing on Gif image on iOS [facebook/react-native@`75380aa`](https://github.com/facebook/react-native/commit/75380aa3296210777dc0be70a722701767276117)

[2019-05-21 12:10] Nehal-29 commented on #116
are we getting a fix related to memory leak in 0.60 version. Really need it.

[2019-05-22 20:41] rhdeck commented on #116
Hi, poking my hand up only because @grabbou mentioned maybe knowing more a week ago, and if so, would be great to understand. Have native components I would love to build centered on the new systems in 0.60.

If no news, so be it.

And if there is any context that would let me or others on thread help, all the better!

[2019-05-22 20:41] grabbou commented on #116
@rhdeck the release is literally now on CircleCI. I'll post an update in 5 minutes or something.

[2019-05-24 12:44] cihati commented on #124
@grabbou any news on when this will be released?

[2019-05-24 15:22] paolospag commented on #124
@grabbou @kelset
any updates about [this issue](https://github.com/facebook/react-native/issues/24429)?

[2019-05-27 08:52] fjtrujy commented on #116
Hello guys,
I'm right now having several issues trying to have the RN 0.6.0.x project with frameworks in the pod file.

So far I see some imports that are wrong.

Do you know if 0.60 is going to support the use of frameworks & Cocoapod ?

This is my current podfile

[code]

Thanks.

[2019-05-27 11:58] kelset commented on #124
👋
given that at the moment there are only, like, 4 commits requested I wanted to wait a bit more before doing a new release. But I feel that I may have some time to tackle this later this week or next week.

[2019-05-29 07:52] Frekansapp commented on #116
Hi, 0.60.0-rc.0 version when will I come to npm? Can't wait to use 😃

[2019-05-30 14:54] kelset commented on #116
hey everyone - sorry, we are still having issues with the release pipeline.

We are facing an issue with Detox (which *may* be fixed, we are testing cherry picking some commits) and one with Buck, where we are waiting from some feedback from the FB side on how to fix.

We should be close, sorry but there are issues that keep popping out lately 😓

[2019-05-30 15:44] kelset commented on #116
Allright, 0.60 RC0 is finally out!

https://github.com/facebook/react-native/releases/tag/v0.60.0-rc.0

Please test it and let us know if you find any major issues!
Best way to report them would be to open an issue in the main repo, add in front of the title [0.60 RC] and then link it here 🤗

[2019-05-30 15:50] Kennytian commented on #116
@kelset
`
✨  Done in 9.76s.
info Installing required CocoaPods dependencies
`
run `react-native init RN060 --version react-native@next`， initial project block on `CocoaPods installing` here 5 mins

[2019-05-30 16:02] peterlazar1993 commented on #116
If you haven't setup CocoaPods before, the initial setup can take some time.

[2019-05-30 16:48] eshikerya commented on #116
have no way to upgrade:
[code]
```react-native-git-upgrade``` fails with message:
[code]

any way to fix it?

[2019-05-30 16:58] mikehardy commented on #116
I like the new example app page a lot. But...I thought it was for react-**native** 🤔 😆
<img width="375" alt="Screen Region 2019-05-30 at 11 56 10" src="https://user-images.githubusercontent.com/782704/58649624-2e1e6e00-82d2-11e9-919b-d93cb2fd2db8.png">

[2019-05-30 17:18] mikehardy commented on #116
So, I maintain react-native-device-info, and I am really excited to see how it goes with RN060

but if I do
[code]

it hangs in gradle on "Evaluating settings"
Ok, so maybe I forgot to link (but auto-linking?), so after doing `react-native link react-native-device-info` it still hangs in gradle on evaluating settings

I was fully expecting it to fail on AndroidX transition, but Evaluating settings

[2019-05-30 18:11] kelset commented on #116
hey everyone, as I mentioned earlier can you please create dedicated issues in the main repo and link them here instead of writing the thing directly - it's makes it harder for me to keep the issue in topic 😅

re:

@eshikerya at the moment you shouldn't try to do the upgrade, only to test it via apps - AFAIK we won't produce a diff for the RC. Also, `react-native-git-upgrade` is no-op now, so you

[2019-05-30 18:18] mikehardy commented on #116
I will log dedicated issues if these are confirmed problems, but thought for the immediately excited testers I might hear whether it's just something stupid I did or not ;-). I was curious if anyone else had android success before I invested the time with issues and PRs etc etc

[2019-05-30 19:54] eshikerya commented on #116
@kelset tried ```react-native-git-upgrade```as fallback to test the ways I could upgrade.
thank you for clarification. any estimate when we would be able to upgrade?
AFAIK 0.60 contain a fix our project require, split-view fixes for iOS and Android(app reload when view changed the size)

[2019-05-30 21:15] MohamadKh75 commented on #116
Crashes on Android....

https://github.com/facebook/react-native/issues/25096

[2019-05-31 08:03] kelset commented on #124
Other commit to cherry pick: https://github.com/facebook/react-native/commit/c87de765f6a9ebf656c188fa2115a1ba01b7939c

[2019-05-31 13:32] sunnylqm commented on #116
Fix for memory leak in fetch for android
https://github.com/facebook/react-native/commit/bccc92dfdd2d85933f2a9cb5c8d1773affb7acba
https://github.com/facebook/react-native/commit/a4f7e17a4f06ee713fecbfa1fbb1e632a9d3bf89

[2019-05-31 13:41] fungilation commented on #116
An important one with fetch. Noob question: Will these merged PRs land on next 0.60 rcs and stable?

[2019-05-31 15:01] kelset commented on #116
they landed on master, we will cherry pick for next RC most likely

[2019-06-01 13:00] DoisLucas commented on #116
Good work guys, I'm very excited to test this new release.

[2019-06-02 10:06] IljaDaderko commented on #116
Perhaps a bit of a naive question, but for those of us who were using cocoapods before, besides changing how we include react pods / adding jsi ones, is it safe to continue using third party deps without autolinking? i.e. if I have manually included paths to their podspecs and all that?~

[2019-06-02 11:10] immortalx commented on #116
Does autolinking needs any flag or its already enabled?
To install react-native-gesture-handler for example i needed to run react-native link, it added a line to my podfile and i needed to run pod install inside the ios directory.

Is this how it's supposed to be?

[2019-06-02 14:52] matt-oakes commented on #116
@IljaDaderko @immortalx It's an opt-in feature on both platforms. For iOS you need to add these two lines to your `ios/Podfile`: https://github.com/facebook/react-native/commit/261197d85705dad1a362cc4637aa308c0382dcbe#diff-a3c6c8e64fbbd1efef345c45e3811571

Note that these are currently not in the template `Podfile` due to an issue with the E2E CI tests.

[2019-06-02 15:01] dishantwalia commented on #116
Crash on some android devices with 64 bit support JSC #https://github.com/facebook/react-native/issues/24261

[2019-06-03 10:09] kelset commented on #116
@MohamadKh75 @dishantwalia that crash wasn't caused by 0.60 RC, so for the purpose of this issue it's not really related. Also, it seems to be connected to the JSC.

[2019-06-03 10:12] kelset commented on #116
about autolinking:

@IljaDaderko

yes, AFAIK - thee autolinking is simply meant to having you not doing those steps.

@immortalx
I'm not sure I understand - you created a new 0.60 RC project and you had to manually run `react-native link`? Ideally, it should automatically run when you do the `yarn add`. But I'm not sure that it's still feature-complete, hence why it's still in beta in the highligh

[2019-06-03 14:09] mjmasn commented on #116
Minor fix for the cherry-pick list https://github.com/facebook/react-native/commit/b45d3b8697c6ed2ce5c6e4eac7bfd14553c79ed8

[2019-06-03 14:34] kelset commented on #116
@eshikerya we published the diff for [0.60RC](https://github.com/react-native-community/rn-diff-purge/compare/release/0.59.8..release/0.60.0-rc.0), so if you want to try again the upgrade command from the CLI it **should** work this time - but again, it's only an RC so be careful to upgrade only test projects/on safe branches so that you can always reverse without troubles.

[2019-06-03 14:52] kelset commented on #124
Last commit (likely): https://github.com/facebook/react-native/commit/d8fa1206c3fecd494b0f6abb63c66488e6ced5e0

[2019-06-03 15:33] immortalx commented on #116
@matt-oakes thank you, it's worked on IOS really well with most of the packages i tested. Autolinking is just for IOS while in beta or android should be working as well?

[2019-06-03 15:42] mikehardy commented on #116
@immortalx assuming it is working (it is in beta), autolinking works for both platforms

[2019-06-03 15:51] matt-oakes commented on #116
@immortalx Sorry, I should have linked the Android changes too:

* https://github.com/facebook/react-native/blob/7f489b63f201f65158d58ad5fe33f460938d0c74/template/android/settings.gradle#L2
* https://github.com/facebook/react-native/blob/7f489b63f201f65158d58ad5fe33f460938d0c74/template/android/app/build.gradle#L185

[2019-06-03 16:20] immortalx commented on #116
@matt-oakes @mikehardy thank you. The linking part seems to be working but all packages  fail with a similar error, for example:

Execution failed for task ':react-native-screens:compileDebugJavaWithJavac'.

Doesn't seem to be related to linking itself, maybe they are not updated to work with 0.60 yet.

[2019-06-03 16:34] yurykorzun commented on #116
I am a bit concerned the way podspecs were split up. We self host all of RN podspecs in our own repo, and now most of them have relative paths to their folder. We will need to replace the source_files prop to reference the full path in our publishing script. Obviously, most projects install RN into XCode from a local node_modules folder, so it's not going to be problem for most people. It's just i

[2019-06-03 16:40] mikehardy commented on #116
@immortalx yeah, owing to the problems I had immediately (https://github.com/react-native-community/releases/issues/116#issuecomment-497409523) I said to myself "yeah, it isn't ready yet" and even though I maintain one of the most used libraries I couldn't get it to work out of the box. So your guess is likely right

[2019-06-04 17:36] mikehardy commented on #116
For people wanting to test RN 0.60 that are having issues with android dependencies, and especially for library maintainers, @rozPierog made a gradle script that will generate 2 android "AAR" files (Android ARchive) that can serve as library dependencies in your project. One de-jetified and one AndroidX. So you can convert a library dependency to AndroidX and it will still be compatible with RN0.5

[2019-06-05 10:05] kelset commented on #116
Another commit to cherry pick: https://github.com/facebook/react-native/commit/46c7ada535f8d87f325ccbd96c24993dd522165d

[2019-06-05 10:06] kelset commented on #124
Also, if it works, this would be great: https://github.com/facebook/react-native/commit/46c7ada535f8d87f325ccbd96c24993dd522165d

[2019-06-05 15:29] kelset commented on #124
Hey everyone, I tried to cherry-pick the commits and this is what I ended up with:

* couldn't cherry pick https://github.com/facebook/react-native/commit/20b4879 & https://github.com/facebook/react-native/commit/75380aa3296210777dc0be70a722701767276117 & https://github.com/facebook/react-native/commit/0a3bbcd1b2c (detox fails)

* this was already on branch https://github.com/facebook/react-native

[2019-06-05 16:21] kelset commented on #124
Ok, 0.59.9 is out - and upgrading is as simple as changing the version number.

I'll now create the changelog & the release & the tweet & the new issue for next 0.59.x.

[2019-06-05 16:41] kelset opened #127 "0.59.9 Discussion"
Conversation on this thread are limited to 0.59.9 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.59.9 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-06-05 16:41] kelset commented on #124
Closing in favour of #127

[2019-06-05 16:41] #124 closed

[2019-06-06 12:09] aldistel commented on #127
Any chance we could cherry-pick https://github.com/facebook/react-native/pull/25150/commits/e787dd0ad614910497af05ade4f54831280ffbd6?

[2019-06-06 12:10] aldistel commented on #116
And another one ;) https://github.com/facebook/react-native/pull/25150/commits/e787dd0ad614910497af05ade4f54831280ffbd6

[2019-06-06 14:29] ImBeCiliC commented on #127
Hello can the new Keyboard behaviour on Android come into the next release?
https://github.com/facebook/react-native/commit/d88e4701fc46b028861ddcfa3e6ffb141b3ede3d
It's from this old and long discussion https://github.com/facebook/react-native/issues/14045
Thanks

[2019-06-07 10:44] thymikee commented on #116
Bumping CLI: https://github.com/facebook/react-native/commit/ea090a10e63bb75ab9446ed2bd84647bf3d28bd7

[2019-06-07 12:03] benoitdion commented on #116
what version of `jsc-android` is RN 0.60 planning to use? `241213.2.0` (currently next) fixes a family of native crashes but introduces significant performance regression. The version included with 0.59 is much faster but unfortunately crashes more frequently.

Relevant issues:
- https://github.com/react-native-community/jsc-android-buildscripts/pull/108
- https://github.com/facebook/react-native/

[2019-06-07 12:35] MohamadKh75 commented on #127
Hey

Can we have this one please?
https://github.com/facebook/react-native/commit/d9a8ac5071d23275c5d4a8e9936f391b967416d7

[2019-06-07 12:43] Vyazovoy commented on #127
Hi! Is it possible to upgrade Metro and it’s related deps to last compatible versions? As those contains useful features and fixes

[2019-06-07 14:11] SystemBlad commented on #127
Him @kelset. I notice InteractionManager stop working in version 0.59.9.

[2019-06-07 14:27] kelset commented on #127
@Vyazovoy can you point to a commit that does that please?

@SystemBlad can you open an issue for that?

[2019-06-07 14:39] kelset commented on #116
Hey everyone, I'm trying to cherry picks the commits & do a RC1 release. I've been hitting some pretty nasty cache-related (it seems) issues, so I'm not sure I'll be able to do the release today.

A few of the commits requested where already on branch because of the recut that happened a while ago, and I couldn't cherry pick one of the requested because it actually disappeared from master's commit

[2019-06-07 14:57] thymikee commented on #116
Take your time @kelset, it's Friday anyway :D

[2019-06-07 16:20] Vyazovoy commented on #127
@kelset nvm, it has to be done in CLI package, sorry

[2019-06-07 18:40] SystemBlad commented on #127
@kelset the problem with InteractionManager.runAfterInteractions was fixed setting isInteraction = true.
Thanks

[2019-06-09 09:50] Salakar commented on #127
👋 hey @kelset - would super appreciate https://github.com/facebook/react-native/commit/995b4d30491d2336fed4a975e965668d9c8d5b7c getting picked, would finally allow changing the debug port on Android, huge DX, at least for me anyway.

[2019-06-09 14:49] Frekansapp commented on #127
Could we cherry-pick this one https://github.com/facebook/react-native/pull/24793

[2019-06-10 11:38] kelset commented on #116
Allright, after way too many fights with the CI - but also one real issue which thanks to @thymikee we fixed right away - RC1 is finally out!

Please test it and let us know: https://github.com/facebook/react-native/releases/tag/v0.60.0-rc.1

[2019-06-10 15:38] slestang commented on #116
I am trying to test .60.0-rc.1 on a existing project where every dependencies (more than 20) are handled with CocoaPods and `pod install` fail:

[code]

Apparently in https://github.com/facebook/react-native/commit/2321b3fd7f666ce30f5dad4cd2673ddf22972056 the core pod has been renamed from `React/Core` to `React-Core` :-(

At least 2 projects seems to be impacted: react-native-sound and rn-fetch-b

[2019-06-10 15:45] Frekansapp commented on #116
After update react native version to v0.60.0-rc1. I'm facing build errors. Anyone else have this errors? https://github.com/wix/react-native-navigation/issues/5171 https://github.com/wix/react-native-camera-kit/issues/262 https://github.com/react-native-community/react-native-image-picker/issues/1095

[2019-06-10 15:52] kelset commented on #116
@Frekansapp it really seems that the errors you are seeing are related to you updating only your version number in the package.json? Since we are still in RC phase, please don't update production apps until we reach 0.60.0 and/or there is a diff here https://github.com/react-native-community/rn-diff-purge to help you understand all the changes that you need to do.

@slestang oh wow I wasn't aware

[2019-06-10 15:58] sunnylqm commented on #116
@kelset And react need a re-sync or revert.  See https://github.com/facebook/react-native/issues/24512 and https://github.com/facebook/react-native/commit/b7d84747b895d8645a12d68c27c6d8a45eee8b6e

[2019-06-10 17:51] Frekansapp commented on #116
@kelset thank you. I made the necessary changes according to rn-diff-purge but now i'm getting another error you can see here https://paste.ubuntu.com/p/SwSgWKtBNV/ how can i solve this?

[2019-06-10 19:05] matt-oakes commented on #116
@Frekansapp You have an Android dependency which has not been upgraded to AndroidX. To use 0.60 all libraries need to be migrated to AndroidX. This is obviously a blocker at the minute, but there's a discussion over here where we are trying to find a good solution:

https://github.com/react-native-community/discussions-and-proposals/issues/129

It seems like for you, it's `react-native-maps` that

[2019-06-10 23:50] cristianoccazinsp commented on #127
Can you elaborate more on this? I'm having the same issue. Upgrading to 0.59.9 out of nowhere broke every call of runAfterInteractions. This function used to have some serious timeout/delay, but now seems to be instant all the time. So anything that relied on this delay is now broken.

[2019-06-11 08:01] jobpaardekooper commented on #116
I think the change "Enable views to be nested within Text component" is not working properly. The following code does not work. Keep in mind that this specific code is clearly redundant but illustrates the issue clearly.

[code]

The code above does not display anything on the screen.
Tested with 0.60.0 RC1.

[2019-06-11 10:07] tamirrab commented on #116
https://github.com/react-native-community/releases/issues/116#issuecomment-500732698

Tested too
Not showing the text

[2019-06-11 14:08] radeno commented on #127
Gradle plugin can be updated to https://github.com/facebook/react-native/commit/8d61a4e5f90893b3d7baec1d6a76603786ea7a1c to be compatible with 0.60 as much.
But that commit depends on Kotlin based code what is available in 0.60. Should i make custom PR for that?

[2019-06-12 12:33] sparker-mob commented on #116
Hi,
The bug for App Crash on certain Android devices like Samsung S7, still exists for this RN version.
Reference : https://github.com/facebook/react-native/issues/24261

This crash also happens if we generate a fresh new React Native project using React Native CLI and run it on Android device like Samsung S7. The crash happens if you launch the App, and keep on tapping on the screen for few secon

[2019-06-13 08:29] tido64 commented on #116
@kelset Looks like this got moved: https://github.com/facebook/react-native/commit/2dd7dd8e45f9d4a1086f84d5b70ea66406d98439. Can we get it into 0.60 please? :)

cc @aldistel

[2019-06-13 08:53] tido64 commented on #127
@kelset Looks like this got moved: https://github.com/facebook/react-native/commit/2dd7dd8e45f9d4a1086f84d5b70ea66406d98439. Can we get it into the next 0.59 please? 😄

cc @aldistel

[2019-06-13 09:11] armata007 commented on #116
Hi,
after creating new project with "react-native init RN060 --version react-native@next" (which installs rc1) and running "react-native run-android"
I get
`error ● Validation Error:

  Option "server.port" must be of type:
    number
  but instead received:
    string

  Example:
  {
    "port": 8080
  }`

I don't have this issue on rc0. I think it should work out of the box for new projects.

Af

[2019-06-13 09:13] thymikee commented on #116
@armata007 it's a known issue, we working on it. In the meantime you can use Yarn `resolutions` and pin `@react-native-community/cli` to version `2.0.0-rc.2`

[2019-06-13 10:24] jobpaardekooper commented on #116
@armata007
You can also open a new terminal window.
Navigate to your RN060 folder.
Run `react-native start`.
Wait for the server to start.
Press the reload button on the simulator.

[2019-06-14 06:14] Kennytian commented on #116
@armata007 @thymikee
open `node_modules/jest-haste-map/build/crawlers/node.js`, go to line 226, and then remove
[code]

references: https://github.com/facebook/jest/pull/8558/files#diff-a8d4602cd89511c26bc2fb165f65379aL143

[2019-06-14 06:58] thymikee commented on #116
@Kennytian for this all you need to do now is purging `jest-haste-map` entry in a lockfile, so it resolves to 24.8.1 after re-install

[2019-06-14 13:36] annakocheshkova commented on #116
Hi, I'm trying to test this with my plugin, I can't seem to get at what stage and how this should work? I have my plugin with the <my_plugin.podspec> at the root folder, how it's supposed to be picked up by react-native and when? I see that it is installed if I run `pod install` manually, but my dependency is never added to the Podfile...  @matt-oakes @thymikee

[2019-06-14 13:59] kelset commented on #116
AFAIK, it should be "picked up" when you do `yarn add NAME_OF_LIBRARY`.

[2019-06-14 14:18] netdown commented on #116
I was trying to create a new app with a basic setup consisting of react-redux and react-navigation, literally nothing just initializing these with one page. Got a "callback is not a function" error (I saw the screen loading for half second though) and the stacktrace consisted of react-native source files only. It may be similar to [#15647](https://github.com/facebook/react/issues/15647) as install

[2019-06-14 14:21] annakocheshkova commented on #116
@kelset it doesn't. I could open an issue but it just seems like I'm missing something important.

[2019-06-14 14:22] thymikee commented on #116
@annakocheshkova

That's how autolinking works -> it doesn't touch Podfile (but Podfile.lock will be created if you use it) nor Gradle, but automatically generate stuff based on `dependencies` and `devDependencies` in package.json. If you use local plugins, I think it's not currently supported to autolink and you'd need to link them traditionally. Is this your use case?

[2019-06-14 15:40] annakocheshkova commented on #116
@thymikee to test, I change my plugin locally, yes. I then run `yarn add ../path-to-plugin`.
Previously our postlink script added an entry to user's `Podfile` which was then installed. Now I moved `podspec` to the root - is this enough in order for autolink to work with a "real" (non-local) plugin?

Another question I have is - we still have a postlink script which does some additional setup for o

[2019-06-14 15:49] thymikee commented on #116
That should be enough.

Regarding pre/postlink hooks, this is not yet supported with autolinking unfortunately. That's because the linking logic moved to CocoaPods and Gradle scripts, but I think we should be able to support that. Created a related feature request in CLI: https://github.com/react-native-community/cli/issues/429

[2019-06-14 18:56] theolavaux commented on #116
I found a bug where TextInput `color` prop cannot be used along SecureTextInput.
Could this be solved in the release?

[2019-06-15 10:01] adeteejay commented on #116
Hi guys, I'm not sure if this is where to ask, but does this mean from .60+ cocoapods will be required in all projects? Can those who use/prefer Carthage stick to it?

[2019-06-15 12:22] thymikee commented on #116
It's not required, it will be the default though.

[2019-06-15 19:19] MohamadKh75 commented on #116
Hey

Can we have this please?

https://github.com/facebook/react-native/commit/d9a8ac5071d23275c5d4a8e9936f391b967416d7

[2019-06-17 10:52] kelset commented on #116
Hey everyone, we are looking into having a new RC2 with a couple more commits in the next few days.

@theolavaux the issue you linked should be fixed via a PR whose commit is already in RC1, can you test it and see if it still appears on a project using 0.60-rc1? If it's still there, please write a comment in the issue.

@sparker-mob it seems that Kudo released a new version of JSC which [solves t

[2019-06-17 11:48] jobpaardekooper commented on #116
@kelset it isn't working on 0.60-rc0 and 0.60-rc1.

I opened an issue in the main repo a little bit ago: #25197.

[2019-06-17 17:13] benoitdion commented on #116
@kelset can you confirm whether 0.60 will point to Kudo's JSC release? As mentioned in https://github.com/react-native-community/releases/issues/116#issuecomment-499859207, it helps with the crash but impacts performance significantly.

[2019-06-17 19:45] german970814 commented on #116
Is there any updates about this issue #23021 and #24055

[2019-06-18 00:38] Kudo commented on #116
@benoitdion JSC in 0.60 would be the same as 0.59. (Only a minor difference that removed libc++_shared.so)
As JSC in the meantime does not have balance between performance and crash free and  we are not going to push new version.
However, for RN 0.60, you could simply use `yarn add jsc-android@next` to use different JSC than the builtin one in RN. (Yeah, just a single command)

[2019-06-18 07:42] jemmyphan commented on #116
@Kudo does removing libc++_shared.so solve the crash issue?
about a  few days ago I saw your tweet about experimenting on v8.
does it work well?

[2019-06-18 09:27] kelset commented on #116
@jemmyphan 	please keep this issue on topic ;)

@german970814 sorry, I don't have any - if there are updates on them, they will get communicated in the issues themselves. Maybe what you could do is to test them both with the latest RC and report if the issues are still present.

I'll try to set the RC2 later today, aiming for 0.60.0 next week if nothing major pops up.

[2019-06-19 07:52] dulmandakh commented on #116
I'm using 0.60.0-rc.1 and useEffect hook is causing error, and here is a solution https://github.com/facebook/react/issues/15647#issuecomment-492419380. IMHO, we should fix this before stable release

[2019-06-19 09:11] kelset commented on #116
It seems that Dan did that on master: https://github.com/facebook/react/issues/15647#issuecomment-492319651

Can you help me find the commit in which it happens so that I can cherry pick it?

[2019-06-19 09:31] robertying commented on #116
@kelset this one https://github.com/facebook/react-native/commit/3b1dbccaaf90aa05a0b25e4853e6b8d48da1deaf

[2019-06-19 09:34] kelset commented on #116
It was actually this one ;) https://github.com/facebook/react-native/commit/6001acb319958242f8d8e2dd40cb91a55b5eab2e

I'm not sure I need to cherry-pick the other one

[2019-06-19 09:37] robertying commented on #116
@kelset oh yeah 😅 sorry I opened two tabs and copied the other wrong commit. Yours is correct.

[2019-06-19 09:40] kelset commented on #116
No worries :) I'll try to do the cherry-picks & test them today 🤞

[2019-06-19 14:02] kelset commented on #116
Ok quick update: I've managed to cherry pick

* https://github.com/facebook/react-native/commit/2dd7dd8e45f9d4a1086f84d5b70ea66406d98439
* https://github.com/facebook/react-native/commit/6c0eccd46d157804fde767263ec8856ff8c99cfb

and

* https://github.com/facebook/react-native/commit/261197d85705dad1a362cc4637aa308c0382dcbe (which should bring back the full autolink feature for iOS - and now both p

[2019-06-20 11:07] kelset commented on #116
Hey everyone! Thanks to the help of @rickhanlonii we found a solution for the scheduler for RC2, and now [RC2](https://github.com/facebook/react-native/releases/tag/v0.60.0-rc.2) is out 🚀

This will *likely* be the last RC before 0.60.0, unless something huge bubbles up. So please, test it and let us know if you have any regressions 🤗

(as always, please open an issue in the main repo & just post

[2019-06-20 11:22] robertying commented on #116
Hey @kelset I've had this possible regression issue https://github.com/facebook/react-native/issues/25325. Would you mind taking a look?

[2019-06-20 18:57] JonnyBurger commented on #116
I get an issue with context.

React Navigation's `withNavigator` HOC is suddenly not working anymore which is suspicious.

Made an issue with repro here: https://github.com/facebook/react-native/issues/25337

[2019-06-21 16:57] derekstavis commented on #127
Can we cherry-pick this one https://github.com/facebook/react-native/pull/21163 ?

This issue can cause a big performance issue when refreshing data or when implementing live-updating search.

[2019-06-23 06:37] mikehardy commented on #116
@kelset thanks for the patience on the regression @robertying found (and fixed)  :muscle: when this PR lands it fixes things https://github.com/facebook/react-native/pull/25363

[2019-06-24 09:28] kelset commented on #116
Hey everyone, it seems that that extra feature will not land in the end.

But since we have a few Android commits that needs to be cherry picked:
* https://github.com/facebook/react-native/commit/3915c0fa6178fbb8aa9b8bd54881cfdbde8fde70
* https://github.com/facebook/react-native/pull/25358
* https://github.com/facebook/react-native/commit/58beaf02ec1c55647eaec965ee5999f591c6c0d3

I'll probably sti

[2019-06-24 09:45] kelset commented on #127
hey everyone - quick update on 0.59.x. We are currently working hard on the 0.60, and I had a few conversations with other people in the core that don't think that it's a good idea to keep supporting 0.59 after 0.60 is out.

If we end up doing a new 0.59.x I'll write an update here.

[2019-06-24 10:09] doublex commented on #116
Could you apply https://github.com/facebook/react-native/commit/690e85db0487c10ec3880c503632548aca65ff1c in 0.60?

[2019-06-25 14:50] tido64 commented on #127
@kelset Do you think it's feasible to get an updated JSC to deal with crashes on 64-bit devices? Latest update seems to have addressed all issues: https://github.com/react-native-community/jsc-android-buildscripts/pull/114

[2019-06-25 14:53] kelset commented on #116
Hey everyone - quick update. By end of this week I'm expecting a couple of PRs to land that we want to cherry pick:
- a bump to the CLI to rc3
- an update for the JSC which should solve most of the issues related to Android 64b builds

And there is a small chance that we'll have a fix for the `use_frameworks!` pod config.
We'll do a RC3 when those two commits land, and likely 0.60.0 will be the re

[2019-06-25 15:02] kelset commented on #127
I'm not sure sadly.

I'd like to do one more 0.59.x release also to bump the cli dep and make sure that everyone will use 1.9.x - since Xcode 11 affects the payload of the simulators json.

I'll write an update if we are going to do it.

[2019-06-26 06:55] muditpant13 commented on #116
@kelset When is the expected release date for 0.60 ? Thanks..

[2019-06-27 11:35] kristerkari commented on #127
It would definitely be really nice to get a new 0.59.x patch version with the JSC fix after it gets released. Currently `jsc-android` causes a crash on Samsung Galaxy S7.

[2019-06-27 13:50] kelset commented on #127
@kristerkari I think that you should be able to replace the version of `jsc-android` with the one published under `@next` (v245459.0.0) via yarn resolutions - AFAIK it should "be enough".

[2019-06-27 14:03] kristerkari commented on #127
Yeah that's what I did already and it worked.

How is the JSC dependency defined in React Native? Is there any kind of automatic update for existing projects?

I'm just thinking that there might be a lot of 0.59.x users who don't know that their app is crashing on Galaxy S7. That's why I was thinking that it might be good to do a patch and make sure that the fix is included.

[2019-06-27 21:24] Warmachine13 commented on #116
hey guys i have this problem on init project eslint@6.0.1: The engine "node" is incompatible with this module. Expected version "^8.10.0 || ^10.13.0 || >=11.10.1". Got "11.8.0"
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.
(node:6480) UnhandledPromiseRejectionWarning: Error: Command failed: yarn add -D @babel/core @babel/runtim

[2019-06-27 23:05] nicoburns commented on #116
@warmachine13 You need to upgrade your node version to 11.10.1 or higher.

[2019-06-28 01:52] soh335 commented on #127
If 0.59.x is still released, please cherry-pick  https://github.com/facebook/react-native/commit/76c50c1db15a1040b185770072d960652e7974a3 .

[2019-06-28 09:26] kadikraman commented on #116
@Warmachine13 - as the error says, upgrade your node version, e.g. `nvm install 11.10.1`

[2019-06-28 09:57] kelset commented on #116
Hey everyone 👋

I just finished cherry picking + testing the commits above, plus the ones described (bump to CLI RC & JSC for Android) - it should be rolling out any minute now.

For the iOS `use_framework!` issue there is a PR in the work but it will likely not be ready in time when we want to release 0.60.0.

In the meantime, please test RC3 and report if you are seeing any massive issues via op

[2019-06-28 11:27] Kudo commented on #127
@kelset Just in case if you will plan to upgrade JSC for RN 0.59, the upgrade process is not like what we did in master or 0.60-stable.
You should upgrade the version at https://github.com/facebook/react-native/blob/0.59-stable/ReactAndroid/gradle.properties#L23

[2019-06-28 12:50] Kennytian commented on #116
Couldn't find any versions for "@react-native-community/cli" that matches "2.0.0-rc.3"
? Please choose a version of "@react-native-community/cli" from this list: (Use arrow keys)

[2019-06-28 12:53] thymikee commented on #116
@Kennytian it's there:https://www.npmjs.com/package/@react-native-community/cli/v/2.0.0-rc.3, so maybe that's an issue with the cache of your package manager.

[2019-06-28 13:03] Kennytian commented on #116
@thymikee  Thanks for your fast response. It's my fault, used the mirror npm source.

[2019-06-29 20:28] brunolemos commented on #116
`ItemSeparatorComponent's ` fix to cherry pick: https://github.com/facebook/react-native/commit/1e428093e2d959d415e228b1c0e12ddd569aff89

[2019-07-01 05:04] levibuzolic commented on #127
Hoping to see another 0.59.x release with a JSC update for the crashing Galaxy S7 issues.

If there is any plans for another release, would appreciate this to be cherry-picked: https://github.com/facebook/react-native/commit/df50eee8e14b51bfcea9bc90e68a2cb46e68db82

[2019-07-01 09:46] thymikee commented on #116
https://github.com/facebook/react-native/commit/44c05da0ff558ab25d9c91c50c77c62c9efd8da3

[2019-07-02 07:38] RoJoHub commented on #116
Could you apply  facebook/react-native@fb550e9

[2019-07-02 11:21] kelset commented on #127
👋 everyone.

As you may be aware, doing releases of React Native is a challenging task - but we know that this JSC problem was widespread and important, so we did one last `0.59.10` patch release to provide you with the new version of the JSC.

Huge thanks to @kudo for his work on back-porting this to 0.59.

We will not do new 0.59 releases, but we are working really hard to ensure that 0.60 will

[2019-07-02 11:21] #127 closed

[2019-07-02 11:22] levibuzolic commented on #127
Thanks @kelset and @Kudo, really appreciate the hard work.

[2019-07-03 09:01] auchaphon commented on #116
Include facebook/react-native@76c50c1 Please

[2019-07-03 10:48] nekhaly commented on #127
![image](https://user-images.githubusercontent.com/8708085/60585781-ca83d680-9d90-11e9-981b-16f17e0e4f21.png)

[2019-07-03 10:53] kelset commented on #127
@nekhaly what command did you pass to get that error? Given that it's a patch, you can simply change the number in the package.json, remove node_modules & clear caches and do a `yarn` to reinstall & you are good to go.

[2019-07-03 10:55] SaeedZhiany commented on #127
@nekhaly
it was a react-native-purge bug that fixed yesterday, follow the guide in [here](https://github.com/react-native-community/rn-diff-purge/issues/21)

[2019-07-03 12:58] kelset opened #130 "0.60.6 Discussion"
Conversation on this thread are limited to 0.60.5 release's major issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.60.5 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http:

[2019-07-03 12:58] kelset commented on #116
👋 everyone!

Thanks for the latest feedback, I just pushed the commit to trigger the release for 0.60.0 - let's close this and see you in the cherry pick request issue -> https://github.com/react-native-community/releases/issues/130

[2019-07-03 12:58] #116 closed

[2019-07-03 15:49] maheshaarkenea commented on #130
"react-native eject" command not working after this upgrade. i deleted ios and android folder. now i have no option to create those again.

[2019-07-03 17:09] kesha-antonov commented on #130
Good job guys

[2019-07-04 00:16] Frekansapp commented on #130
I think autolinking causing problems with react-native-navigation see [here](https://github.com/react-native-community/cli/issues/467)

[2019-07-04 04:58] gleydson commented on #130
I had the same problem @Frekansapp!

[2019-07-04 12:05] Frekansapp commented on #130
@gleydson did you solve it?

[2019-07-04 12:36] Ilphrin commented on #130
Thank you so much for your awesome work! =D Can't wait to have enough time to contribute myself fur future releases!
I don't see any commit that should be merged in a hurry for next minor release (even though I'd love to see the new jsc-android update and this ScrollView sticky header ;) )

[2019-07-04 13:19] ImBeCiliC commented on #130
Hello this was also posted to 0.59.x and sadly didn't made it into the 0.59.10 release. Can the new Keyboard behaviour on Android come into the next 0.60.x release?
facebook/react-native@d88e470
It's from this old and long discussion facebook/react-native#14045
Thanks

[2019-07-05 13:33] sunnylqm commented on #130
Please cherry pick https://github.com/facebook/react-native/commit/76c50c1db15a1040b185770072d960652e7974a3

[2019-07-08 22:34] matamicen commented on #130
Thank you guys for the effort!

CocoaPod is included in this version, so any ideas how is the new procedure to install for example react-native-firebase for admob? in release 0.58 We had to follow this [guide](https://dev-yakuza.github.io/en/react-native/react-native-firebase-admob/) but now with cocoapod included  is any other easier way to install it ? any help how to do it ?

Thanks!

[2019-07-09 10:48] thymikee commented on #130
Bump CLI to ^2.2.0 https://github.com/facebook/react-native/commit/5b448eca4fe4f3a769a5b1359707ed1d40ad61e6

[2019-07-10 06:19] IljaDaderko commented on #130
@matamicen most packages will have something called a `.podspec` file, so to add them through CocoaPods, you just need to point to dir where that `.podspec` file lives. Here is example with `react-native-firebase` v5

[code]

From here you just run `pod update` in your `ios` dir and it will install everything.

[2019-07-11 15:51] jkdf2 commented on #115
@lorenc-tomasz See: https://github.com/reduxjs/react-redux/pull/1242

react-redux will work with 16.8.3.

[2019-07-15 09:41] dulmandakh commented on #130
prettier fix - https://github.com/facebook/react-native/commit/79853d6e53337c82f064aa80dd8b8ac8916afa9d

[2019-07-15 10:22] sunnylqm commented on #130
@dulmandakh Do you mean this one? https://github.com/facebook/react-native/commit/7254bab0b3fa129cd238783ab993fbae1102d60a

[2019-07-15 10:52] AndrewJack commented on #130
Can this iOS 13 fix get cherry picked?
https://github.com/facebook/react-native/commit/46bdb4161c84b33f1d0612e9c7cdd824462a31fd

Related issue: https://github.com/facebook/react-native/issues/25181

[2019-07-15 12:28] matamicen commented on #130
@IljaDaderko thanks very clear!

[2019-07-15 17:51] kelset commented on #130
quick update: I changed this conversation to about 0.60.3 aiming for 0.60.4 since [Hermes was micdropped during ChainReact](https://facebook.github.io/react-native/docs/hermes/) 😂

We'll likely do a new release soon-ish, as soon as [this fix for the CLI](https://github.com/facebook/react-native/pull/25478#issuecomment-511452946) is implemented so that we can cherry pick this https://github.com/fac

[2019-07-15 18:17] fungilation commented on #130
To be clear of what you are saying. For CI fixes and larger changes in RN needed to accommodate Hermes, those are going to land in 0.61 instead? So it's reasonable that production apps should wait for 0.61 before using Hermes?

[2019-07-15 18:22] kelset commented on #130
Oh no - sorry I meant that it broke some CI jobs that are set up in the 0.60 branch.

To clarify: you can use Hermes via 0.60.3 even in production (AFAIK - I haven't seen any major issues in the main repo), but simply since the CI is kinda broken in the 0.60-branch it means we have less ways to find eventual issues that may be caused by some cherry picks.

But the CI on master branch is actually b

[2019-07-16 17:46] janicduplessis commented on #130
https://github.com/facebook/react-native/commit/88e18b6c8d562a4571cc48c202dda944cacfd742 to fix blob memory leak on Android. Might also need https://github.com/janicduplessis/react-native/commit/6c2f4f52feefc71a15fe7df4731440da9bdfa5b7 (hermes has not landed on master so can't land this diff) which caused a crash for me when trying out hermes.

[2019-07-16 23:38] kelset commented on #130
@janicduplessis I think that that diff will have to be done as PR against the 0.60-branch to see it happen in 0.60.x because Hermes was landed first in the branch so I don't think that the code will be precisely the same once it's on master (so yeah, I fear you may having to end up doing that PR twice 😓)

[2019-07-17 14:15] Ivan-Stashak-CardinalPeak commented on #130
I'm upgrading a project to RN 0.60.3 . Unfortunately, I'm getting the following error when I attempt to run on Android:

`WebView has been removed from React Native. It can now be installed and imported from 'react-native-webview' instead of 'react-native'. See https://github.com/react-native-community/react-native-webview`

I have run 'npm install --save react-native-webview' and confirmed that i

[2019-07-17 14:27] moonstruck commented on #130
@Ivan-Stashak-CardinalPeak Please report the issue to https://github.com/react-native-community/react-native-webview or React Native repo. Purpose of this thread is not issue reporting.

[2019-07-17 14:30] Kennytian commented on #130
@Ivan-Stashak-CardinalPeak  see https://github.com/react-native-community/react-native-webview/blob/master/docs/Getting-Started.md

[2019-07-17 20:44] mjmasn commented on #130
https://github.com/facebook/react-native/commit/b432b8f13b4871dcafd690e57d37298662712b50 please @kelset!

[2019-07-18 09:20] matpaul commented on #130
svg animation with nativeDriver
https://github.com/facebook/react-native/commit/bdc530b9bbf6099563d64fb573c4e6cbc93f9c5d

[2019-07-18 10:30] thymikee commented on #130
CLI bump: https://github.com/facebook/react-native/commit/fafe5ee0726061e3590b91d3b5cff04e33781f87

[2019-07-18 16:21] artdent commented on #130
facebook/react-native@6ef9106 would be a useful cherrypick - it fixes `use_native_modules!` in certain projects that use Cocoapods. It's a fix spun out of facebook/react-native#25349, which is a broader umbrella issue.

[2019-07-18 18:37] janicduplessis commented on #130
@kelset Actually the second commit doesn't depend on hermes landing on master so I created a PR for it https://github.com/facebook/react-native/pull/25720, when it lands we can cherry pick both commits.

[2019-07-18 21:46] kelset commented on #130
Ok, thanks for the clarification @janicduplessis - I've subscribed to the new PR (thanks for doing it!) so I should be aware of when it lands.

@artdent as I have commented on the issue, that fix will only land on 0.61 - the commit you are referring to is only part 1 and it will involve breaking changes (as far as I am aware of).

Aside from all of this, couple of extra things:
* because of this h

[2019-07-19 03:38] artdent commented on #130
@kelset The breaking changes are in part 2. Part 1 doesn't attempt to fix `use_frameworks!`; it just fixes the missing header file `<double-conversion/double-conversion.h>` as reported in facebook/react-native#25349. I've just verified locally that cherry-picking facebook/react-native@6ef9106 into RN 0.60.3 fixes the missing header file in my project without introducing any other problems.

[2019-07-19 07:14] thymikee commented on #130
@kelset the `0.x` is a special case in semver indicating unstable APIs and `^0.54.1` will resolve to `0.54.x`. See: https://jubianchi.github.io/semver-check/#/^0.54.1/0.55.0. It seems like folks there have issues with their package manager (npm, why I'm not surprised)

[2019-07-19 13:45] kelset commented on #130
@artdent oh ok awesome, thanks for the clarification!

@thymikee yeah what I meant up there with 0.54.x was simply "the latest version of 54 of which I can't remember the precise name" ;D

[2019-07-24 11:52] cihati commented on #130
@kelset is there an ETA for the release?

[2019-07-25 05:48] OzzieOrca commented on #130
https://github.com/facebook/react-native/commit/14b455f69a30d128db384749347f41b03b9a6000 - Set rounded rectangle mask on TouchableNativeFeedback's ripples

[2019-07-26 00:20] solonifer commented on #130
error: bundling failed: Error: Unable to resolve module `warnOnce` from `/Users/user/Documents/myapp/HB/node_modules/react-native/Libraries/react-native/react-native-implementation.js`: Module `warnOnce` does not exist in the Haste module map

react-native 0.60.4

tryied everything from https://github.com/facebook/react-native/issues/23943 with no luck :(

[2019-07-26 05:24] HarshitMadhav commented on #130
@kelset Please can you cherry pick this one issue https://github.com/facebook/react-native/issues/21801 ?

[2019-07-26 12:29] khat33b commented on #130
When building a release APK in Android, I am getting error while bundling the JS. This is not happening while running a debug app.

[code]
Then many errors are thrown which say that some variables in the `android/app/build/generated/assets/react/release/index.android.bundle` are not declared.

[code]

[2019-07-26 13:21] mikehardy commented on #130
@khat33b -
[code]

[2019-07-29 10:42] deorukhkarchaitanya commented on #130
https://github.com/facebook/react-native/commit/c5ea18f7389fe821e7a9882e4b1b30b0a1b266f4

Fixes build failures for apps with App extension on iOS. Thanks!

[2019-07-29 14:29] mguay22 commented on #130
Same as @solonifer - unable to use Jest right now.

@cpojer Are you able to provide the commit that fixes the issue you previously mentioned here on
facebook/react-native#23943

[2019-07-30 09:41] velvenkat commented on #130
@kelset Execution failed for task ':app:bundleReleaseJsAndAssets'.

error is getting while set enableHermes=true in build.gradle file

[2019-07-30 21:15] kdawgwilk commented on #130
Seems like this should be renamed to `0.60.5` now that `0.60.4`? I would love to see facebook/react-native#25619 cherry picked along with facebook/react-native#25818 & facebook/react-native#25816 but I fear that won't happen because there are possibly breaking changes with header imports for 3rd party libraries.  😢  `0.60.x` switch to CocoaPods broke our CocoaPods setup we already were using due t

[2019-07-31 18:36] diegolmello commented on #130
@kelset Can you cherry pick https://github.com/facebook/react-native/commit/c5ea18f7389fe821e7a9882e4b1b30b0a1b266f4?
Thank you!

[2019-08-01 15:39] thymikee commented on #130
Fixes template build failed in release mode: https://github.com/facebook/react-native/commit/0fcaca8e26223e47cc101c76bb7a7b02e0fc7101

[2019-08-02 07:34] JuanJo4 commented on #130
Adding the debug.keystore file back https://github.com/facebook/react-native/commit/d55025694be8b4ee5d09c8fdc910d42a5f144883

[2019-08-02 19:32] janicduplessis commented on #130
Merged https://github.com/facebook/react-native/commit/ffdf3f22c68583fe77517f78dd97bd2e97ff1b9e. We had to make a new PR instead of cherry-picking since the hermes commit on 0.60 and master is slightly different.

[2019-08-03 05:22] HarshitMadhav commented on #130
@janicduplessis Hi! this comment on the issue https://github.com/facebook/react-native/issues/21801#issuecomment-460833140 leading to a comment of yours regarding regression https://github.com/facebook/react-native/issues/15445#issuecomment-326680200 I want to know whether this small issue has been fixed?

[2019-08-04 16:43] spyshower commented on #130
Not sure if this is the right place to ask but, do we have an estimate for the `0.61` release?

[2019-08-04 18:27] grabbou commented on #130
@spyshower there's no estimation, but we are planning to ship it in the next two weeks. Updates will follow.

I am also back to the releases train and will be taking over the work on 0.60.5 as started by @kelset. It's been a while and I've been enjoying my OSS break, but back to duty.

I am going to cherry-pick the commits in this thread later today & tomorrow an update. I am hoping it will go thr

[2019-08-05 08:30] jinshin1013 commented on #130
[iOS] Fixes renderingMode not applied to GIF images: https://github.com/facebook/react-native/pull/24794#issue-277680176

Thanks!!

[2019-08-05 20:42] grabbou commented on #130
@jinshin1013 I see this commit is already part of 0.60.4. Have you tried running your app with that version?

[2019-08-05 20:44] grabbou commented on #130
I just ended up going through this thread and looking at the cherry-pick requests. I wanted to thank everyone for participation and discussing the changes.

Here's the list of the commits that I am going to cherry-pick:
facebook/react-native@d88e470
facebook/react-native@76c50c1
facebook/react-native@5b448ec
facebook/react-native@a162554
facebook/react-native@7254bab
facebook/react-native@46bdb41

[2019-08-05 20:45] grabbou commented on #130
I am going to cherry-pick them tomorrow and attempt releasing a new version. Meanwhile, I have also updated the title of this issue to reflect the new version.

[2019-08-06 02:23] sunnylqm commented on #130
Can I take the last train? https://github.com/facebook/react-native/commit/c21e36db45167e443aba5a6bf4a3732e4989b306

[2019-08-06 04:13] HarshitMadhav commented on #130
@grabbou Here is a commit about the issue I was suggesting to be cherry-picked. It's a very old commit https://github.com/facebook/react-native/commit/f954f3d9b674b13977f722bc3b8dc6c1b99fe6c7

[2019-08-07 09:46] cbpanchal commented on #116
@grabbou Please check, react-native version 0.60.4 run android stuck and it takes too much time to compile. help me to short out
![npx__Users_chirag_Workspace_Upgrade_App_CrushClient_and_PreviewItem_js_—_CrushClient](https://user-images.githubusercontent.com/20139279/62613052-548e0480-b926-11e9-9b0e-f5660cd60343.png)

Thanks

[2019-08-07 17:20] grabbou commented on #130
Didn't cherry-pick:
- facebook/react-native@14b455f due to conflicts (depends on other commits that can't be merged clearly)
- facebook/react-native@f954f3d as it's already part of 0.60.4

Waiting on confirmation re: Hermes from Facebook and we are good to go. I will resume working on it tomorrow, I hope to publish it by then.

[2019-08-07 17:25] grabbou commented on #130
You can subscribe to tests here: https://circleci.com/workflow-run/88733632-cb8c-47ad-aba1-620a1dd5bef5

We will see what passes and what not and whether that's something that will stop us from making the release (related failure).

[2019-08-08 05:38] HarshitMadhav commented on #130
@grabbou Thanks! Eagerly waiting for the new release with new fixes.

[2019-08-08 13:50] grabbou commented on #130
The https://github.com/facebook/react-native/commit/c21e36db45167e443aba5a6bf4a3732e4989b306 didn't merge clearly because it's based on https://github.com/facebook/react-native/commit/d7f5153cd8d164fda9008c1cda51278a2dcbec9c (Hermes support added to master), instead of https://github.com/facebook/react-native/commit/e857d7066be504a9e90042be8ff919d62939895f (Hermes support added directly to this PR

[2019-08-08 16:16] Johan-dutoit commented on #130
Not sure if I'm too late, but any chance we can get this merged in https://github.com/facebook/react-native/commit/8131b7bb7b4794e0e7003a6e3d34e1ebe4b8b9bc?

[2019-08-08 18:27] jeffreyffs commented on #130
@Johan-dutoit those Cocoapod updates have already been rejected from a patch release (see https://github.com/react-native-community/releases/issues/130#issuecomment-518392397 and https://github.com/react-native-community/releases/issues/130#issuecomment-516598766 from above). Those changes will be landing in 0.61, which we will hopefully see soon.

[2019-08-08 18:54] Johan-dutoit commented on #130
@jeffreyffs Bah! I searched the commits id's and found nothing.  Thanks!

[2019-08-09 15:42] Justkant commented on #130
@grabbou Maybe a bit late for this release, but can this commit be cherry picked as well https://github.com/facebook/react-native/commit/d2b92fffb1d14dd0ec628e9dcdfd76e39f2067ff ?

This commit could help people experiencing issues with some prettier rules, but it can also wait :v:

[2019-08-10 04:37] gaodeng commented on #130
Any chance we can get this cherry picked https://github.com/facebook/react-native/commit/6764385c8062fc647d016028351d8d7d28387ed5
It fix the hermes issue https://github.com/facebook/hermes/issues/65 here

[2019-08-11 10:01] armagedan opened #136 "Can not get Nested JSON Object"
Hi. I am not sure if this is the right place to ask this But I can not seem to access nested JSON Object. Here is my fetch and setState.

[code]

And here is a simplified version of the JSONresponse

[code]

And on my render return I am doing `{this.state.article.admin.name}` and it gives me `Undefined is not an object this.state.article.admin.name`. The name does exist as shown above. It is not r

[2019-08-11 10:41] MohamadKh75 commented on #136
You should ask these type of questions in [Stack Overflow](https://stackoverflow.com)!

[2019-08-11 10:43] armagedan commented on #136
Sorry I’ve had 3 SOF accounts but I get blocked from asking questions either because of no answers or downvotes. So thats no help

[2019-08-11 11:01] hackdie commented on #136
i wonder why

[2019-08-11 11:03] armagedan commented on #136
@hackdie sarcasm isn’t really going to help. If you have an answer please do share

[2019-08-11 11:30] eshikerya commented on #136
sarcasm is about the type of your question, it sounds like “why sun is shining”. try to ```console.log(response)``` before passing it to setState. but this is very basic debugging skills. this is the first thing even beginner dev would think of. and this is the reason of sarcasm

[2019-08-11 11:32] MohamadKh75 commented on #136
create conditional rendering (maybe by an `isLoading: true` state. You don't have the `this.state.article.admin...` at first!)
Also, you can use the ternary operator (this.state.article.admin.name? this.state.article.admin.name : '...')

[2019-08-11 11:37] armagedan commented on #136
It is loading the above mentioned json. There is no delay and I’ve used ternary operator. With no luck. Like I mentioned, its returning the json as mentioned above. It is loaded with the rest of the response. I’ve already and still am using ternary operator and I’m still getting undefined. I’ve also used a state to wait to fully load and it still seems to return undefined

[2019-08-11 12:18] #136 closed

[2019-08-12 08:34] grabbou commented on #130
@Johan-dutoit, @Justkant, and @gaodeng - thank you for your submissions, but we need to stop cherry-picking at some point and do testing.

This release is already quite a bit, I'd rather cut the next release soon or another minor version.

I am working on the CircleCI right now and plan to release it today. Just to give you an idea - the CI is failing and I need to check whether failures are the s

[2019-08-13 10:20] raajnadar commented on #130
Can we get this cherry picked in next release?? **[Fix some languages wrapped texts are cut off on android]** https://github.com/facebook/react-native/commit/76c50c1db15a1040b185770072d960652e7974a3

[2019-08-13 10:26] kelset commented on #130
As Mike said above

Also, Mike is on holiday this week so I'll try this afternoon to see if 0.60 branch is ready for the 0.60.5 release (so yeah, testing and then eventually pushing & releasing).

[2019-08-13 10:34] raajnadar commented on #130
I read that comment I should have mentioned v0.60.6! That's why I said in next release I thought 0.60.5 is already released.

[2019-08-13 17:53] kelset commented on #130
quick update: I've tested locally the branch, and since everything seems ✅ I've published 0.60.5.

Changelog/release notes coming soon, it's in review (https://github.com/react-native-community/releases/pull/137).

In terms of 0.60.6, I don't think we will do it: as mentioned a while ago, having Hermes in the branch made the CI unstable so our confidence in making new releases is lower. So the pla

[2019-08-14 13:29] ceyhun opened #138 "@react-native-community/eslint-config releases"
What is the release process for `@react-native-community/eslint-config`?

I'm also not sure if this is the correct place to ask because `eslint-config-react-native-community` is under `https://github.com/facebook/react-native/`'s `packages` folder but the npm package is named `@react-native-community/eslint-config`.

[2019-08-14 14:47] kelset commented on #138
Hello there 👋
This is not the right repository to open this kind of issue, so I'll close it. But, to answer your questions:

A new version is released whenever there are changes in the configurations. Is there any specific reason why you are asking?

Yeah, I can see why you may be confused, but it's just a name ;) the reason why it lives in the RN repo is that it's an export from the FB config but

[2019-08-14 14:47] #138 closed

[2019-08-14 18:34] sayem314 commented on #130
Fishhook `.podspec` file is missing on 0.60.5

[2019-08-14 18:48] hackdie commented on #130
@sayem314 you don't need it anymore, it's on the changeLog

[2019-08-14 18:52] sayem314 commented on #130
But `pod install` is failing with this error message `no podspec found for .......react-native/...fishhook` or something. I have deleted `yarn.lock, node_modules, Pods, and Podfile.lock` still the same. So I have downgraded back to 0.60.4 and everything is fine now.

[2019-08-14 19:06] kevinwu127 commented on #130
this happened to me as well. I needed to downgrade for `pod install` to work. What's going on?

[2019-08-14 19:10] owinter86 commented on #130
@sayem314 and @kevinwu127 you need to remove `pod 'React-fishhook', :path => '../node_modules/react-native/Libraries/fishhook'` from your podfile as its no longer needed.

You can also use https://react-native-community.github.io/upgrade-helper/ to see what files have been changed in upgrade.

[2019-08-14 19:13] sayem314 commented on #130
Oh, I see. Thanks, I would do that tomorrow!

[2019-08-14 19:32] mikehardy commented on #130
Indeed @owinter86 - all hail the might upgrade-helper - note that react-native follows no semver convention and breaking changes show up in patches. You can *never* safely upgrade without checking the diff from upgrade-helper (or rn-diff-purge and before that rn-diff, same team as upgrade-helper, the tool just keeps evolving and upgrade-helper is the current best). Luckily this one is easy

[2019-08-15 08:18] ceyhun commented on #138
Thanks you for answering my question anyways. The correct repo for this issue is then [facebook/react-native](https://github.com/facebook/react-native)?

The latest version over npm is [0.0.5](https://www.npmjs.com/package/@react-native-community/eslint-config) and is 4 months old. There has been a couple of changes in the configurations but a new version is not yet released.

[2019-08-15 11:01] kelset commented on #138
is the issue what you say afterwards

Because then it's not an issue per se - if I understand you'd want to ask for a new release, not report an actual issue or a bug? 🤔

[2019-08-15 11:14] ceyhun commented on #138
Correct 👍 I would like to ask for a new release but I don't know how and where?

[2019-08-15 11:36] kelset commented on #138
I don't want to sound harsh but you ""should not"" *ask* for a release, IMHO 😅

If it wasn't done already there is probably some reason, and by asking you are sort of putting pressure on the people responsible for it (which, I have to admit, I am not sure I know who is) - and overall it's just a eslint-config so you can always modify your local .eslintrc file. That said I'll try to understand bett

[2019-08-15 11:49] ceyhun commented on #138
Thanks a lot 🎉 I would also be happy to help with releases if that could relieve the pressure a bit. I just didn't know where to start 😅

[2019-08-18 14:28] sijad commented on #130
can we have https://github.com/facebook/react-native/commit/c21e36db45167e443aba5a6bf4a3732e4989b306 for next release? I'm not sure why it did not cherry-picked for `0.60.5`

[2019-08-18 21:00] benevbright commented on #130
Hi, guys. Thanks for addressing Android ScrollView vibrating issue with `TranslateY`.
I just tried the latest RN, 0.60.5. But the issue is still happening.

Feel free to try this example.
https://github.com/benevbright/react-navigation-collapsible/tree/master/example

#### GIF
![Aug-18-2019 6-19-48 PM](https://user-images.githubusercontent.com/916690/63230353-cd853a00-c20b-11e9-9fec-f1f0674a5c00.g

[2019-08-19 04:02] HarshitMadhav commented on #130
@benevbright I tried with 0.60.4 version this issue still persists.

[2019-08-19 06:23] ParthShrivastav opened #139 "On Upgrading react native version to 0.60.5, app gets stuck on splash Screen"
# Bug

## Environment info

React native info output:

[code]

## Steps To Reproduce

1. The application doesn't work in flow and gets stuck on the splash screen.
2. On changing the initial route of the application some screens works fine .
...

Describe what you expected to happen:

1. The application should work inflow and should not get stuck.

## Reproducible sample code

![Screenshot_15661967

[2019-08-19 07:23] hackdie commented on #139
this is not the repo for reporting issues. go to the main repo and add more context if you want people to help you. Close this one

[2019-08-19 07:24] #139 closed

[2019-08-19 09:11] kelset commented on #130
@sijad please read the explanation [here](https://github.com/react-native-community/releases/issues/130#issuecomment-519526533).

Yeah, as harsh as it may sound semver is not really followed - but we strive to, for patch (x.x.1) releases to not have changes, the fishhook one was a mistake, sorry 😓

@benevbright @HarshitMadhav please open an issue in the main repo for it.

--

General note: we will

[2019-08-19 09:21] benevbright commented on #130
@kelset

We have open issue in the main repo. It's lasted for a long time.
https://github.com/facebook/react-native/issues/21801

I mentioned about it here, because https://github.com/react-native-community/releases/issues/130#issuecomment-519191161 this comment seems to have been trying fix that, but it's actually not resolved.

[2019-08-19 09:27] sunnylqm commented on #130
@benevbright Seems a misunderstanding from the beginning.  https://github.com/facebook/react-native/issues/21801#issuecomment-522488647

[2019-08-19 09:32] benevbright commented on #130
@sunnylqm You're so true. 😖 Thanks. 🙏

[2019-08-20 08:40] HarshitMadhav commented on #130
@sunnylqm You are right! 😓

[2019-08-20 19:57] grabbou commented on #130
Thanks @kelset for all the help! I had an accident that week and couldn't finish the release myself! Now, I am working on the 0.61 in a different thread.

[2019-08-20 19:58] grabbou opened #140 "0.61.x Discussion"
Conversation on this thread are limited to 0.61.x issues and cherry-pick requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.61.x cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue in http://github.com/fac

[2019-08-21 05:04] TheSavior commented on #140
I know we aren't thinking about cherry picks yet, but it would be great if we are able to get this into 0.61 https://github.com/facebook/react-native/commit/b8d6ef372663fe6d467144abfc5d2c9352dc28d6

[2019-08-21 09:07] kelset commented on #140
should we just wait until master is green and re-cut after that?

[2019-08-21 09:37] grabbou commented on #140
I haven't been able to get any updates regarding CI failures for the past few days and it's not clear when they will be fixed.

After discussing it on the #releases channel, we have decided to ship it "as is" because it works locally and it's an RC.

It's a requirement to cherry-pick CI fixes before we go stable, but we want to ship some of the new features out the door.

[2019-08-21 13:33] grabbou commented on #140
I have managed to dig deeper and fix a few tests. I am now working on fixing `use_framework!` tests to make sure we ship a release that works 100%.

I will get back with the update, once fixed, we are good to go.

[2019-08-23 16:54] fkgozali commented on #140
The following should be picked:
* https://github.com/facebook/react-native/commit/947e71a922c0db5d3d3780d249d1a8d183534c22
* https://github.com/facebook/react-native/commit/59f84ca1fd4a5700d67cc7c68194dd845a1ecfd6

It should fix some OOM issue when having a lot of images (especially GIFs)

[2019-08-27 07:02] blohamen commented on #130
Hi all. Can you please make attention on this issue. Because now it's impossible to use selection and onSelectionChange on Android. https://github.com/facebook/react-native/issues/26047

[2019-08-27 14:25] grabbou commented on #140
I have picked them @fkgozali. The release is now being published. I have managed to resolve CircleCI issues by contacting their support team.

[2019-08-27 14:25] grabbou commented on #140
That said, I have also unlocked this thread now that the release is going to be available really soon.

[2019-08-27 15:13] gaodeng commented on #140
Since iOS 13 & Android 10 will be officially released soon, I really hope that this commit https://github.com/facebook/react-native/pull/26172 about Dark Mode can be merged quickly.

[2019-08-28 09:21] owinter86 commented on #140
Not sure if this is a bug, or the [pro tip regarding the ios splash screen](https://facebook.github.io/react-native/docs/running-on-device#pro-tips) is no longer valid.

But if it is implemented, the splash screen is permanently rendered above the app and is never dismissed.

[2019-08-28 09:42] kelset commented on #140
@owinter86 	can you please open an issue for it?

[2019-08-28 09:45] owinter86 commented on #140
No worries, I can do that, but this is directly related to the 0.61RC though and the (releases)[https://github.com/facebook/react-native/releases] page directs me to this issue for bug reports?

[2019-08-28 09:47] kelset commented on #140
yes, but ideally we'd prefer to have here only the link to the issue; that way the conversation/investigation/debugging of that issue can happen over there and not here.

[2019-08-29 01:56] jamsch commented on #140
Just got it working on a large app. Two things I noticed

1. Gestures using `react-native-gesture-handler@1.4.1` (react-navigation-drawer) doesn't seem to work. Assuming there's some native breaking changes?. No build or console errors. Haven't taken the time to properly look in to this.

2. Image borders (borderWidth/borderColor) doesn't seem to work on the RC.

[code]

0.60.5

![Selection_060](h

[2019-08-29 07:23] kelset commented on #140
@BrendonSled can you open an issue for it & post the link here?

[2019-08-29 16:18] BrendonSled commented on #140
@kelset https://github.com/facebook/react-native/issues/26258

[2019-08-29 16:51] IljaDaderko commented on #140
I believe I found an issue when Archiving iOS build https://github.com/facebook/react-native/issues/26259

TL;DR There is a cli step that is run and apparently `ios` is invalid target, perhaps a type there?

[2019-08-30 17:22] kristoff2016 commented on #130
Hello there,
Currently, I have the issue the same as this https://github.com/facebook/react-native/issues/25771
I hope it got fix it soon

Thanks

[2019-08-30 20:36] gaearon commented on #140
Redbox is broken: https://github.com/facebook/react-native/issues/26260. This is a release blocker. Don't have a fix yet.

[2019-08-30 22:03] gaearon commented on #140
Once D17139310 and D17140543 land, we need to cherry pick them.

[2019-08-31 11:19] sinodko commented on #140
This would be super nice to cherry pick facebook/react-native#51aacd5

[2019-08-31 12:50] gaearon commented on #140
@grabbou

Please pick:

* https://github.com/facebook/react-native/commit/f107d3b78c95ed0313b39e55976cf6b6be36775e
* https://github.com/facebook/react-native/commit/42a385bddf895be5b00dd30f82396f0d8197cfc1

Thank you.

[2019-09-01 10:03] owinter86 commented on #140
Not sure if this is directly related to @TheSavior comment about the TouchableNativeFeedback issue.

But this release has caused some unusual behaviour when using  `TouchableNativeFeedback.SelectableBackgroundBorderless()`

https://github.com/facebook/react-native/issues/26289

[2019-09-01 17:30] TheSavior commented on #140
Here is a link to the TouchableNativeFeedback revert commit: https://github.com/facebook/react-native/commit/c526b3ff14c245ad6c853632c945e61c02eecffe

@owinter86, I’m not sure if that is related. I’d be surprised if it was, but I’m not sure anything else has touched the component than my commit, so maybe it is. :-) I’ll investigate when I try to reland my change.

[2019-09-01 20:03] jamsch commented on #140
Looks like https://github.com/facebook/react-native/issues/26241 was introduced in the RC. Haven't tried iOS yet.

[2019-09-02 22:22] estevaolucas commented on #140
Please pick https://github.com/facebook/react-native/commit/82a8080f0704e83079d0429e4e367f5131052e64 and https://github.com/facebook/react-native/commit/a58dd9683da6135bca119a8b0ae5d0ea5382cf4c.

Those commits will allow [Flipper's Layout plugin](https://fbflipper.com/docs/features/layout-plugin.html) to be used on iOS projects.

(more about it here: https://github.com/facebook/react-native/pull/2

[2019-09-04 16:02] grabbou commented on #140
React Native 0.61.0-rc.2 is now on CircleCI and should hit npm soon.

@sinodko, unfortunately, it sounds like your cherry-pick request is a feature request, rather than a bug fix. We have decided to not cherry-pick it yet.

[2019-09-04 16:33] tlupo commented on #140
I’m not sure if it’s still possible but it would be great to include facebook/react-native@88e18b6 (by @janicduplessis) to fix blob memory leak on Android (https://github.com/react-native-community/releases/issues/130#issuecomment-511917694). Thank you very much !

[2019-09-04 16:55] fkgozali commented on #140
https://github.com/facebook/react-native/commit/241091d527ae7e1866c3f9bdf067cde146e377fa fixes iOS test with use_frameworks, would be good to pick to keep 0.61 RC branch green.

[2019-09-06 14:07] 0x7fs commented on #140
Please consider facebook/react-native@c9708fb9c4c8262b93b0f32755b1d5966808de4b and facebook/react-native@7f3a0e831c5953cacbd65d731d62747e07d8cf85 for the next RC. These fix building with `use_frameworks!` without requiring third party libraries to add `s.static_framework = true` to their Podspecs.

See PR with more information here: https://github.com/facebook/react-native/pull/26151

[2019-09-06 14:36] gabrielfurini commented on #140
Hey guys, I was struggling with the same issue as on https://github.com/facebook/react-native/pull/26360.
Machines with case sensitive disks are not able to find the `podspec` file for Yoga. Please consider merging it too.

[2019-09-06 15:15] estevaolucas commented on #140
What about those other commits to make 0.61.0 and its template to support Flipper (including on RNTester):
* https://github.com/facebook/react-native/commit/0165489b8fc29423dfde958d23103e28cb523240
* https://github.com/facebook/react-native/commit/0a5c43fcc37640e1568f2d04563d232db2f532d8
* https://github.com/facebook/react-native/commit/70274f4e9166dbe9da2d04953a95c2909b455d1d
* https://github.com

[2019-09-09 11:49] grabbou commented on #140
Going to cherry-pick commits and release a new version today. Thanks @gabrielfurini reporting that - I guess my Mac is case-insensitive then, since we were able to run it w/o problems while testing.

[2019-09-09 13:58] MoOx commented on #140
@grabbou this very tiny (but important) fix in the flowconfig of the template would be nice to have https://github.com/facebook/react-native/commit/e6b2cf04188fc9647bae4bef4cca5d4dde22a657

[2019-09-09 15:26] hassanbazzi commented on #140
I was gonna walk up to you in the callstack conf and office and tell you about this. haha. Let me know if you need help testing at all. I assume you had a loooooooooong week at the conf.

[2019-09-10 11:40] grabbou commented on #140
@0x7fs I have cherry-picked these commits that fall under this PR. @fkgozali, this is exactly what you have discussed within the PR comments. Hopefully, `static_framework`'s work without issues now.

@tlupo, please consider checking the commit you are pointing to whether it's already part of the release you are commenting on. Not really a deal-breaker, but Github UI shows this information right be

[2019-09-10 11:55] grabbou commented on #140
Update: all commits are already on the CI and I am testing it right now. The release should be out there in a bit. I will be back with the updates after I finish another round of the meetings.

[2019-09-10 17:32] a-c-sreedhar-reddy commented on #140
But ubuntu users cant user Flipper right?

[2019-09-10 18:56] fkgozali commented on #140
We chatted about this briefly. I think we should let 0.62 have the support naturally instead of picking to 0.61. This is aligned with what @grabbou mentioned up top:

Picking Flipper support (more of a new feature) could delay the 0.61 RC stabilization and potentially more work for everyone here to fix the potential issues forward in the RC itself.

[2019-09-10 19:53] axemclion commented on #140
@a-c-sreedhar-reddy - yes, Flipper does not current seem to have a build for Linux, but Flipper is an electron app, and is Open source. Would you be interested in adding linux builds ?

[2019-09-10 22:17] Jarred-Sumner commented on #140
After upgrading from `0.60.5` to `0.61.0-rc.3`, I am running into this error:

[code]

![image](https://user-images.githubusercontent.com/709451/64653380-25fac200-d3db-11e9-8ca9-923ad0263557.png)

I have updated my Podfile to rename these two pods: (they were `React-RCTWebSocket` and `React-DevSupport` before I think)

[code]

Is anyone else seeing this?

Adding a `debugger` [here](https://github.

[2019-09-11 03:14] a-c-sreedhar-reddy commented on #140
@axemclion I created PR updating docs regarding building for linux from source.
Where can I add linux builds?

[2019-09-11 09:15] gedeagas commented on #140
Hi guys, how about this commit ? https://github.com/facebook/react-native/commit/3915c0fa6178fbb8aa9b8bd54881cfdbde8fde70 this commit fix custom fontWeight numeric values for Text on Android

[2019-09-11 15:26] kelset commented on #140
@gedeagas, as @grabbou mentioned above, you can check if a commit is already in a release in its page.

The one you are linking, in particular, seem to be already in:

<img width="628" alt="Screenshot 2019-09-11 at 16 25 41" src="https://user-images.githubusercontent.com/16104054/64711050-ee5e4980-d4b0-11e9-8755-8ee7891313f6.png">

[2019-09-12 02:38] jrwpatterson commented on #140
Any idea when this is going to go live... (I know all time scales are flexible) We just have something that for the life of me will not work in RN60 but works perfectly first time in RN61 and my managers want it stable (and I want to stop working on getting it to work on 60 that I'm fairly convinced at this stage isn't going to work!)

[2019-09-14 20:12] marcorm commented on #140
Hi all,
i'm using RN 0.61.0-rc.3 on a side project.
I'm facing [this issue](https://github.com/kmagiera/react-native-reanimated/issues/381
) with react-native-reanimated.

It should be caused by [this commit](https://github.com/facebook/react-native/commit/1e45a41dc2d4699d4e439994e81ca5ab82d630b3).

Just wanted to inform someone here...

[2019-09-14 20:14] tamirrab commented on #140
https://github.com/react-native-community/releases/issues/140#issuecomment-531509868

Same here

[2019-09-16 07:12] MoOx commented on #140
@jrwpatterson haste module system is gone, so you need to reference full path the Alert module now.

[2019-09-17 10:13] xiao99xiao commented on #140
Just found this issue https://github.com/facebook/react-native/issues/26473 introduced in RN 0.61.0-rc.3 , caused by this commit https://github.com/facebook/react-native/commit/bd2b7d6c0366b5f19de56b71cb706a0af4b0be43 .

[2019-09-17 11:14] grabbou commented on #140
We will need to wait for:
- https://github.com/facebook/react-native/pull/26416
- https://github.com/kmagiera/react-native-reanimated/issues/381
- https://github.com/facebook/react-native/issues/26473 (investigate)

to release another release candidate.

Since we are aiming for releasing a new version later this week, we should finalize the release.

[2019-09-17 11:15] grabbou commented on #130
Will be soon releasing another RC with this hot-fix https://github.com/facebook/react-native/pull/26462 for React Native Windows builds.

[2019-09-17 11:18] a-c-sreedhar-reddy commented on #140
new RC or new version?

[2019-09-17 11:19] grabbou commented on #140
New release candidate and then, promoted automatically to stable after a few days (no cherry-picking in the meantime)

[2019-09-17 14:04] SpawnAtis commented on #140
RNGH doesn't work with rc.3 on Android
- [https://github.com/kmagiera/react-native-gesture-handler/issues/745]( https://github.com/kmagiera/react-native-gesture-handler/issues/745)
 -  [https://github.com/react-native-community/react-native-tab-view/issues/879](https://github.com/react-native-community/react-native-tab-view/issues/879)

[2019-09-17 16:34] acoates-ms commented on #140
This one is required for react-native-windows to be able to update to 61
[facebook/react-native#26462](https://github.com/facebook/react-native/pull/26462)

[2019-09-17 21:55] kmagiera commented on #140
I'll be investigating issues related to reanimated and gesture-handler. Thanks for reaching out

[2019-09-18 14:17] bartolkaruza commented on #140
I'll have a look at this one facebook/react-native#26473 (Modal dismiss issue)

[2019-09-18 15:04] bartolkaruza commented on #140
Fix for the above issue is in this PR: https://github.com/facebook/react-native/pull/26490

If someone could have a look, we can cherry pick that commit in safely after merging of the PR.

[2019-09-18 17:13] janicduplessis commented on #140
Reland this android blob fix which had to be reverted before this branch was cut.

https://github.com/facebook/react-native/commit/9b2374b542f87b7baefcfb4a3eb4f57029069b57

[2019-09-18 17:17] janicduplessis commented on #130
I finally managed to land the Android blob fix properly. Hopefully it can merge cleanly on 0.60, if not I guess we'll just have to wait for 0.61

https://github.com/facebook/react-native/commit/9b2374b542f87b7baefcfb4a3eb4f57029069b57

[2019-09-18 18:55] kmagiera commented on #140
Tracked dow the gesture handler issue. The change that cause the problem is this one https://github.com/facebook/react-native/commit/d0792d4b8ac42711dfd9fccb782f16e72ce3e335 as it changes the way root view is instantiated. Previously we were overriding react native's default rootview in order to forward touch events into a gesture handler processing pipeline. I'll be working on finding the best wa

[2019-09-18 19:32] janicduplessis commented on #140
@kmagiera Oh I remember that. I didn't have the time to investigate and just ended up reverting this commit in my fork. I think it is just a bug in the diff as it should not have changed any functionality, it just refactored some logic in a shared class if I remember correctly.

[2019-09-18 20:00] kmagiera commented on #140
yeah, I see your comment from June on that commit now

[2019-09-19 07:33] grabbou commented on #140
Thanks @kmagiera and @bartolkaruza for sending the patches for the issues!

Following up on my previous comment [here](https://github.com/react-native-community/releases/issues/140#issuecomment-532175844):

- <s>facebook/react-native#26416</s> (picked)
- <s>facebook/react-native#26462</s> (picked)
- kmagiera/react-native-reanimated#381 (investigate)
- facebook/react-native#26473

There's work alre

[2019-09-19 09:15] gaodeng commented on #140
Any chance we can get this cherry picked,It fix iOS 13 status bar style issue https://github.com/facebook/react-native/commit/796b3a1f8823c87c9a066ea9c51244710dc0b9b5

[2019-09-19 17:59] gaearon commented on #140
It would be good if we could pick https://github.com/facebook/react-native/commit/ee5cb5a880015c58a98f4cdcd3f3cc978196246d. It fixes a significant memory regression we've found in our apps.

[2019-09-21 11:22] marcorm commented on #140
Guys, forgive me if it's not the right place where to post it.
I noticed a problem with [react-native-paper](https://github.com/callstack/react-native-paper) and react-native 0.61.x.

When i open a `Dialog` inside a `Portal` it shows up weird.
Same problem with FAB.

The problem doesn't arise with RN 0.60.5.
It happens with the last versions of react-native-paper (stable and alpha).

Here are two

[2019-09-23 06:45] dulmandakh commented on #140
- https://github.com/facebook/react-native/commit/4763000554c71be40b82a740651706781acad2e3
- https://github.com/facebook/react-native/commit/be2a2529af21414e645f2b04c5a1c819828ecda6

[2019-09-23 10:07] sunnylqm commented on #130
Since xcode 11 released before 0.61 stable, this fix seems necessary for 0.60 https://github.com/facebook/react-native/commit/46c7ada535f8d87f325ccbd96c24993dd522165d

[2019-09-23 11:27] mikebouwmans commented on #140
This is not an react-native-paper issue, I have this aswell when using 0.61-rc.3, something with shadows is broken

[2019-09-23 13:31] kelset commented on #140
@mikebouwmans can you open an issue in the main repo with the details about it (and then post the link here)? So that there is a "recorded" bug report over there

[2019-09-23 13:45] spyshower commented on #140
May I ask when is the next rc/stable version coming?

[2019-09-23 16:05] mikebouwmans commented on #140
Ok I will try to do that tonight

[2019-09-23 16:17] marcorm commented on #140
@mikebouwmans
Maybe this can help: https://github.com/callstack/react-native-paper/issues/1341#issuecomment-534155733

[2019-09-23 16:47] mikebouwmans commented on #140
Well, I had shadow/borderRadius issues even without react-native-paper. I'm trying to reproduce it in a new app but can't seem to get the bug.

[2019-09-23 17:08] kelset commented on #140
You can, but we may not have an answer ;)
Mike has been busy lately so maybe by end of week we can do another round of cherry picks & release another RC, but I can't give fixed dates.

[2019-09-23 18:21] mikebouwmans commented on #140
I've created an issue on the main repo, see: facebook/react-native#26544

[2019-09-24 15:56] jeffreyffs commented on #140
@kelset I believe that issue was fixed with this MR that was merged 5 days ago: https://github.com/facebook/react-native/pull/26495

So we probably want to cherrypick: https://github.com/facebook/react-native/commit/9f0dede1c913612e1241432f4cbccdc74d23a1e4

Though maybe @kmagiera can confirm that everything is working now :)

[2019-09-24 18:35] grabbou commented on #140
As I said in my previous comment, we need to resolve all remaining bugs and issues before this release gets stable.

The https://github.com/kmagiera/react-native-reanimated/issues/381 still remains unresolved and I wanted to get it fixed before this gets stable. Reasons: the library is quite popular and we should always look out for the effects of the release on the community libraries.

However,

[2019-09-24 18:35] grabbou commented on #140
@jeffreyffs the commit you are referring to fixes another (but equally important) problem and has been already picked.

[2019-09-24 18:39] grabbou commented on #140
I just spoke to @kmagiera on a side and he said that fix for https://github.com/kmagiera/react-native-reanimated/issues/381 is on the way and is scheduled to land in a matter of day(s).

Since it will land in the userland and does not affect the release modes, I think we are good to safely ignore this error and proceed with 0.61.

[2019-09-24 18:44] grabbou commented on #140
@gaodeng, we are working on keeping the cherry-picks to critical issues only. I identified your commit as a non-critical addition that can be safely released under 0.62, which we will soon begin to work on.

[2019-09-24 19:30] grabbou commented on #140
Shipping, closing and opening a new thread.

[2019-09-24 19:30] #140 closed

[2019-09-24 19:31] grabbou commented on #130
I am closing this issue as we are shipping 0.61.0 release right now. Please give it a try and comment on the appropriate issue thread if necessary.

[2019-09-24 19:31] #130 closed

[2019-09-24 19:32] grabbou opened #144 "0.61.1 Discussion"
Conversations on this thread are limited to 0.61 releases major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.61.0 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue

[2019-09-24 19:33] grabbou opened #145 "0.62.x Discussion"
Opening this issue thread as a placeholder that we will be starting to work on 0.62.0-rc.0 now that 0.61.0 is shipping.

I will post an update here once we have a better understanding of the timeline.

[2019-09-24 19:56] tomtargosz commented on #144
Can we get [facebook/react-native@a4fbb8e](https://github.com/facebook/react-native/commit/a4fbb8e75bd9f521037926a68a8b75eaca2eca74) included? Currently In iOS 13 apps will crash if more than one action is performed on a Sharesheet.

[2019-09-25 08:49] thymikee commented on #144
https://github.com/facebook/react-native/commit/9f0dede1c913612e1241432f4cbccdc74d23a1e4 - fix for Gesture Handler, affecting React Navigation

[2019-09-25 08:55] satya164 commented on #144
We should also revert https://github.com/facebook/react-native/commit/d57cdac62b814d38d2d03cdbb1cb3da60a09c948 and https://github.com/facebook/react-native/commit/3e4c5c09c37866ac3a711921a37136a392c618be

Context: https://twitter.com/joelafiosca/status/1176731298007851009?s=20

[2019-09-25 09:10] grabbou commented on #144
Cherry-picking https://github.com/facebook/react-native/commit/9f0dede1c913612e1241432f4cbccdc74d23a1e4 that must have been skipped by a mistake.

@satya164, it seems to be an issue with the Bitrise, not React Native itself (no issues running iOS with XCode). According to the [StackOverflow issue mentioned in the linked tweet](https://stackoverflow.com/questions/53034303/should-xcshareddata-be-che

[2019-09-25 09:22] satya164 commented on #144
@grabbou according to the linked tweet, CIs like bitrise expect this file to be present. people can add it manually when they need, but imo there's no harm in keeping it if it can make it few cases easier.

[2019-09-25 09:24] grabbou commented on #144
I am with you on that @satya164.

Is the best solution to remove it from the template's `.gitignore` so that it is by default present when people commit to Git repository?

I don't think it has to be present _by_default_ if it's automatically generated anyway

[2019-09-25 09:30] grabbou commented on #144
I have reverted them both. Shipping 0.61.1 right now.

[2019-09-25 09:38] #144 closed

[2019-09-25 09:38] grabbou opened #146 "0.61.1 Discussion"
Conversations on this thread are limited to 0.61 releases major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the **0.61.1** cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new i

[2019-09-25 10:15] radeno commented on #146
Somehow there is included incorrect React version (16.8.1)
https://react-native-community.github.io/upgrade-helper/?from=0.61.0&to=0.61.1
Looks like `master` branch is unsynced also: https://github.com/facebook/react-native/blob/master/template/package.json

[2019-09-25 10:48] Bardiamist commented on #146
@radeno that upgrade-helper's problem. Because the project created by `react native init` have react@16.9.0.

[2019-09-25 11:04] felippepuhle commented on #140
@grabbou will https://github.com/facebook/react-native/commit/0cafa0f5d1e7fa5369b765f4b97f38bf1608230a be included on next 0.61 patch release or just on 0.62? thanks!

[2019-09-25 11:17] arbabr96 opened #147 "State not re-render while changing the state"
{
this.state.showButton ?
<View>
   <TouchableOpacity>
   <Text>Hello</Text>
   TouchableOpacity
</View>
: null
}

whenever i changed the state through method it'll not change the view according to my condition
React Native version 0.60.5
i tried all the solution on github but i was failed to resolve it.
if anyone solved this issue kindly answer my question

[2019-09-25 11:18] ASchwad commented on #140
According to the new release of react-native 0.61.1 they fixed something with react-native-gesture-handler. Is the HOC still required to use?

[2019-09-25 12:10] talut commented on #146
I'm trying Fast Refresh right now but an error occurring every time: https://github.com/facebook/react-native/issues/26557

[2019-09-25 12:46] lucasbento commented on #147
@arbabr96: this is not the place to post issues, I recommend that you ask this question on [Stack Overflow](https://stackoverflow.com/) as it seems to be a more suited place for this sort of inquiry.

[2019-09-25 12:46] #147 closed

[2019-09-25 13:15] mjmasn commented on #146
Heads up if you're thinking of upgrading - there's an elevation rendering bug on Android in 0.61.0+ when using `TouchableNativeFeedback.SelectableBackgroundBorderless()` on the same screen as the elevated element.

https://github.com/facebook/react-native/issues/26289

[2019-09-25 13:55] lucasbento commented on #146
@radeno @Bardiamist: changes shown on upgrade-helper are correct now, you can check them [here](https://react-native-community.github.io/upgrade-helper/?from=0.60.6&to=0.61.1).

[2019-09-25 14:10] pvinis commented on #146
https://github.com/facebook/react-native/pull/26566

I created this to bring back the workspace too.

[2019-09-25 14:58] ripzery commented on #146
Every console log is now always pointing to `setUpDeveloperTools.js:73` instead of pointing to the source. Not sure if it related to these changes 🤔 (https://github.com/facebook/react-native/commit/81ec2112a15e3d66b7973f0e1aaa8986fcca753f#diff-8863a34349d2a00986749efcf471649c)

It works fine on `0.60.4`.

[2019-09-25 15:30] lafiosca commented on #146
I'm also seeing some funky visual behaviors with Android which might be directly related to @mjmasn's issue referenced above, but I don't know enough about them to say for sure. For example, look at the difference in these buttons from `react-native-paper@2.16.0`:

![image](https://user-images.githubusercontent.com/9442662/65614865-608d5e80-df86-11e9-8543-036cb8aae034.png)

Another example is my s

[2019-09-25 15:40] kelset commented on #146
if would be ideal to have an open issue on this in the main repo, and only the link referenced here. Thanks!

[2019-09-26 08:35] ScreamZ commented on #146
Serious Issue with background and superposition on Android :

https://github.com/facebook/react-native/issues/26544#issuecomment-535091158
Also linked to https://github.com/styled-components/css-to-react-native/issues/117

[2019-09-26 22:14] bneigher commented on #140
I'm still having issues with this on 0.61.1 (no HOC) / (didn't try HOC)

[2019-09-28 02:45] dulmandakh commented on #140
- Fix gradle script - https://github.com/facebook/react-native/commit/7c8e266e390de71ce39233b53a369b2c5e8a1c14

[2019-09-29 13:53] IljaDaderko commented on #146
When using hooks there seems to be an issue with `AppState` listeners

[code]

This now returns

`Illegal callback invocation from native module. This callback type only permits a single invocation from native code.`

Code wasn't changed on my end, if anyone can think of any commit that could have caused this, I'll be glad to dig in. Also let me know if I should open issue in rn repo for this inst

[2019-09-30 06:54] piuholo commented on #140
As mentioned, version 0.61.1 does not fix the critical issue with `react-native-gesture-handler`.

[2019-09-30 07:48] vshab commented on #146
Please cherry-pick https://github.com/facebook/react-native/commit/0a282c42b4d1c2316513cd5588a0a92b54db2991

This fixes [FlatList in inverted mode on Android doesn't invert pull-to-refresh gesture](https://github.com/facebook/react-native/issues/26181) which is essential for chat-like screens.

[2019-09-30 08:13] kmagiera commented on #140
@piuholo can you please describe in a little bit more details what the "critical issue" is? Which OS does it affect, which version of OS and RN. Preferably if you could make a simple repo from react-native init with gesture handler that we could run to see the issue that would be very helpful.

[2019-09-30 08:20] piuholo commented on #140
@kmagiera In my case, it was the issue described here

[https://github.com/kmagiera/react-native-gesture-handler/issues/320](https://github.com/kmagiera/react-native-gesture-handler/issues/320)

that had resurfaced on iOS after upgrading to RN `0.61.X` from `0.60.X`. However, I was able to work around the problem with the import statement found in the same issue thread.

[2019-09-30 09:15] kelset commented on #140
Folks, sorry to bother you but there is a dedicated issue for 0.61.1 [here](https://github.com/react-native-community/releases/issues/146).

Also, please always don't report issues directly on these issues but just comment linking to an issue from the main repo - it helps not losing track of them

[2019-09-30 11:45] felippepuhle commented on #146
Please cherry-pick https://github.com/facebook/react-native/commit/0cafa0f5d1e7fa5369b765f4b97f38bf1608230a

[2019-09-30 12:57] grabbou commented on #146
@ScreamZ aware of that and I am investigating the status of this issue. My goal is to release the next minor release with a fix for this.

[2019-09-30 13:23] ScreamZ commented on #146
@grabbou Awesome thanks :)

[2019-09-30 19:28] vonovak commented on #146
https://github.com/facebook/react-native/commit/113c4e229c374232c46a89afd74df7117a3447c1 is not a bugfix but an improvement of an error message that might help people who are upgrading from 0.59. It might save both consumers and library maintainers some extra work.

[2019-10-01 12:09] grabbou commented on #146
After two hours of playing around with it, I have managed to find out that the issue is caused by https://github.com/facebook/react-native/commit/14b455f69a30d128db384749347f41b03b9a6000

I can confirm it renders "just fine" when this commit is reverted. I will now reach out to the authors and other maintainers to see if we can quickly fix the issue or we should revert the commit. Your help is wel

[2019-10-01 12:13] tido64 commented on #146
@grabbou: Git actually has this built in. Have a look at [git-bisect](https://git-scm.com/docs/git-bisect) 😉

[2019-10-01 12:15] grabbou commented on #146
Ah, snap, you're right! Hopefully not needed again in the future! It was a bit faster because I have "accidentially" managed to split in lucky spots

[2019-10-01 12:17] grabbou commented on #146
We will be reverting facebook/react-native@14b455f and doing another release today. I will send appropriate PRs in a second.

[2019-10-01 14:25] ScreamZ commented on #146
Champaign great job people

[2019-10-02 02:53] BipinBhandari commented on #146
any update on the release?

[2019-10-02 07:01] kristerkari commented on #146
Would be nice if this iOS13 "image inside text" rendering issue could be fixed and released as a patch for both 0.60 and 0.61:
https://github.com/facebook/react-native/issues/26577

[2019-10-02 07:52] grabbou commented on #146
Unfortunately, there was a React Native-wide permission issue which didn't let me push any commit upstream, making it impossible to make a release.

Apologies for those who have been waiting for a release, the issue is now fixed, PRs are being submitted, the release will be out in a matter of hours.

I will keep you updated.

[2019-10-02 13:17] owinter86 commented on #146
Can we get https://github.com/facebook/react-native/commit/796b3a1f8823c87c9a066ea9c51244710dc0b9b5 picked, this fixes the statusBar issues with iOS dark mode support, fixes issue https://github.com/facebook/react-native/issues/26619#issuecomment-536813690.

[2019-10-02 18:29] grabbou commented on #146
All commits cherry-picked. Testing them now.

@kristerkari, as pointed out in the first comment in this issue - please point to commits, rather than issues. I do understand this may be causing you and many other people issues, but unless it's a regression, there's nothing we can do here without further debugging.

[2019-10-02 18:57] grabbou opened #148 "0.61.2 Discussion"
Conversations on this thread are limited to 0.61 releases major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.61.2 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue

[2019-10-02 19:02] grabbou commented on #146
Let's continue in #148. The release will be out on `npm` shortly.

[2019-10-02 19:02] #146 closed

[2019-10-02 19:11] r3nya commented on #148
🤔 is it ok?
![image](https://user-images.githubusercontent.com/209313/66074274-86f06280-e561-11e9-8752-da5d4965dc15.png)

[2019-10-02 19:11] grabbou commented on #145
Now that 0.61.2 has finally shipped fixing a long-standing elevation regression on Android, I am going to look into 0.62.

[2019-10-02 19:30] fungilation commented on #148
`yarn outdated` showed 0.61.2 released, but it's not available by `react-native upgrade`?

[2019-10-02 19:35] grabbou commented on #148
@r3nya, I edited one release and probably that's why. Anyway, I have re-created the latest release right now to make sure GitHub displays proper timestamps.

[2019-10-02 19:37] r3nya commented on #148
@grabbou got it! Thanks for your work!

[2019-10-02 19:41] darknblack commented on #148
![image](https://user-images.githubusercontent.com/8255516/66076080-98506380-e58f-11e9-9f64-38334869921b.png)
Trying to upgrade but I got this 404 error

[2019-10-02 20:04] kristerkari commented on #146
Sorry about that @grabbou . It's just that there is no place where to report bugs that would need a fix + be included in a patch release. The bug reports in `facebook/react-native` get easily lost with people opening new issues all the time.

[2019-10-02 20:07] grabbou commented on #148
@fungilation, I have just realized I need to generate it myself. I am doing it now (and hoping to succeed, first time ever).

[2019-10-02 20:17] grabbou commented on #146
It's all right! I just wanted to explain the fact there's nothing I can do about it "right now".  Hoping it can be fixed in the nearest future

[2019-10-02 22:14] fungilation commented on #148
Seems to work! But on https://react-native-community.github.io/upgrade-helper/?from=0.61.1&to=0.61.2, it shows downgrade of packages. This doesn't seem right, when these were upgraded from RN 0.60?

![image](https://user-images.githubusercontent.com/3803466/66085888-52f84b80-e527-11e9-8565-50efb8381fb3.png)

[2019-10-03 04:50] levibuzolic commented on #148
Looks like it's just an issue with [`rn-diff-purge`](https://github.com/react-native-community/rn-diff-purge), there's an issue for it here: https://github.com/react-native-community/rn-diff-purge/issues/27

[2019-10-03 08:17] grabbou commented on #148
Yes, it's a valid issue with `rn-diff-purge`. Just been updated manually by @pvinis and all is good.

[2019-10-03 10:47] pvinis commented on #148
Just to be clear, this comes from the cli and the way it gets the template. purge just inits a project and sometimes the cli is somehow out of sync with the release. :|

[2019-10-04 06:58] blohamen commented on #148
It's impossible to use selection prop in TextInput on Android: https://github.com/facebook/react-native/issues/26047

[2019-10-05 10:34] alnorris commented on #148
https://github.com/facebook/react-native/issues/26678 0.61 has completely broken manual linking, Any chance this fix goes out soon?

[2019-10-06 23:30] craftmusic commented on #148
Current cannot build my native module that was working on previous versions without encountering the error:
`'React/RCTBridgeModule.h' file not found`

[2019-10-08 17:34] janicduplessis commented on #148
I've gotten a few requests for https://github.com/facebook/react-native/commit/9b2374b542f87b7baefcfb4a3eb4f57029069b57, fixes a major memory leak in networking on Android.

[2019-10-09 10:51] radko93 commented on #148
https://github.com/facebook/react-native/commit/614039834bf255de096f8b1d168832f81b0cf3fa this fixes Android App Bundle & Hermes compatibility.

[2019-10-09 18:20] fungilation commented on #148
https://github.com/facebook/react-native/commit/614039834bf255de096f8b1d168832f81b0cf3fa is an important one to cherrypick. But this issue is for RN 0.61.2 which is already out, this should be for RN 0.61.3 no?

[2019-10-10 18:32] grabbou commented on #148
Thanks for the requests. I was busy working on the CLI and trying to cut 0.62. in the meantime. I will look into your cherry-pick requests now.

[2019-10-11 22:37] grabbou commented on #148
@craftmusic and @blohamen, unfortunately, there's nothing I can do about these issues right now - there's no fix yet. Once there's PR merged that resolves these issues, please let me know in this thread. Let's follow up on the linked issue with further details.

Cherry-picked @janicduplessis and @radko93 Android-related changes. Pushing to the CI. If everything goes well, I will send it to `npm` t

[2019-10-12 11:13] grabbou commented on #148
Unfortunately, the SoLoader commit [breaks the Android test suite](https://circleci.com/gh/facebook/react-native/116558?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link).

I will try to find a spare minute over the weekend to look into it, any support is welcome meanwhile!

[2019-10-14 07:45] s349856186 commented on #148
I upgrade to 0.61.2, but get NativeModules empty object, how can i fix it ?
https://github.com/facebook/react-native/issues/26813

[2019-10-14 08:37] radeno commented on #148
My two cents:

- https://github.com/facebook/react-native/commit/da8ae011bbabc8acb7ef7f6903f68dd60aaa1f9d
- https://github.com/facebook/react-native/commit/d576a5bcc0e03dd9c4ccd982f723d6e376e5b680
- https://github.com/facebook/react-native/commit/bfd01552af6c074a425da2e7cc1a5908faba2644
- https://github.com/facebook/react-native/commit/4159e201462c346c456de1fa869d88a9cce7b6d4
- https://github.com/

[2019-10-15 19:51] kennym commented on #148
On iOS (tested with iOS 13), doing this:

`<TouchableOpacity [...]><Text>Test</Text/><TouchableOpacity>`

produces this:

![image](https://user-images.githubusercontent.com/160117/66864630-f7d54880-ef6b-11e9-9170-9d06b66d96cb.png)

Any Touchable* will result in the same.

[2019-10-16 15:16] heroic commented on #148
You are probably missing:

[code]

in your MainApplication.java

[2019-10-17 02:26] s349856186 commented on #148
@heroic Thanks for your prompt. I have added my Module, and I can't get it, NativeModules is empty.
![image](https://user-images.githubusercontent.com/2498958/66972862-865edc80-f0c8-11e9-9735-928efe770fdc.png)

[2019-10-17 09:42] WebRom1145 commented on #148
I use 0.61.2, but get NativeModules empty object, in Android how can i fix it ?
I don't missig List<ReactPackage> packages = new PackageList(this).getPackages();

[2019-10-17 10:16] WebRom1145 commented on #148
@sunnylqm  yes, of course, I try something.. if I do it like that, I get the same Problem NativeModuls are an empty Object {}
![image](https://user-images.githubusercontent.com/36162935/67000268-cbd6d600-f0d7-11e9-9a51-7fbecf453ed0.png)
and the ReactPackage.getPackages Function is generated
![image](https://user-images.githubusercontent.com/36162935/67000326-ef018580-f0d7-11e9-9592-5c3d4c3086ee.pn

[2019-10-17 10:20] sunnylqm commented on #148
You should check [upgrade-helper](https://react-native-community.github.io/upgrade-helper/) `carefully` to see if you missed any config. Especially something like https://github.com/facebook/react-native/blob/master/template/android/settings.gradle#L2 and https://github.com/facebook/react-native/blob/master/template/android/app/build.gradle#L209
And do not use `react-native link` command any more.

[2019-10-17 10:38] WebRom1145 commented on #148
@sunnylqm  thx for the reply I start my Project with the react-native Version 0.61.2. For the IOS project works all fine. I create the Bridge and i have Accessed. But an Android is always an empty Object what is with the react-native link command? I have used to link Modules for the IOS Part.
The other settings I have like that

[2019-10-17 11:55] WebRom1145 commented on #148
thx @sunnylqm I have it fixed

[2019-10-17 12:20] s349856186 commented on #148
@WebRom1145 how to solve it?  The configuration by sunnylqm said, already exist in my project, but nor work

[2019-10-17 13:49] WebRom1145 commented on #148
@s349856186  check-in Debug mode of Chrome if you receive Native Modules...
 in build.gradle in dependencies add your Project implementation project(':myProject')

[2019-10-22 03:05] piashcse commented on #148
is there any deadline for 0.62 RC?

[2019-10-22 03:29] mikehardy commented on #148
There are no deadlines
For open source code releases
Only undone work

An open source haiku - but seriously, there are no deadlines.
I believe the hold up is that iOS is failing in CI, and anyone that could investigate and fix it so that a commit here results in a CI pass wins a large quantity of internet points: https://github.com/facebook/react-native/commits/0.62-stable

[2019-10-22 09:04] kristerkari commented on #148
Please pick this commit for the next patch release:
06599b3e594355a1d5062ede049ff3e333285516

It fixes a visual iOS13 bug where an empty document image is displayed when images, views or other things are rendered inside a `<Text />`

[2019-10-22 11:15] ursNj commented on #145
What all major features planning for 0.62 ???

very much eager to know, that i loved the Fast refresh in 0.61 :)

Kudo's to the team.

[2019-10-23 19:23] sebinq commented on #145
@ursNj Brand new react dev tools ❤️

[2019-10-24 04:49] ursNj commented on #145
improving Flatlist performance is really needed, as many times i saw that application is lagging due to flat list. even i have tried all the optimization techniques for Flatlist, still issue is there. its is very much required.

[2019-10-24 06:11] grabbou commented on #145
It is not specified yet. I will let you know as soon as the branch cut works and we are ready to push out a new release.

Right now, tests are failing because of two issues and I am waiting for an update.

[2019-10-24 06:13] grabbou commented on #148
@piashcse, let's follow up on 0.62 discussions in the 0.62 issue. As @mikehardy already pointed out, the tests are failing and we are working on getting them fixed.

Unfortunately, due to React Conf happening this week this has been delayed. I will try to wrap it up now that a lot of React Native developers are going to be there.

[2019-10-24 06:15] grabbou commented on #148
Following up on https://github.com/react-native-community/releases/issues/148#issuecomment-541314874, I haven't had luck finding a root cause for the Android test failure.

@radko93 (since you requested it) and maybe @dulmandakh, do have any ideas why this might be happening?

[2019-10-24 06:52] dulmandakh commented on #148
https://github.com/facebook/react-native/commit/acd4a3b1d4e1e07eb54c8f7565e55f4cb496aaa7 fixed Android CI, but RNTester release build was crashing. I'll look into it during weekends.

[2019-10-25 07:49] anchengjian commented on #145
Remove `create-react-class` and it's related writing to avoid duplication of `fbjs` dependency.

[2019-10-28 04:59] waqas19921 commented on #148
Please also take a look at https://github.com/facebook/react-native/issues/25923 and suggest any fix for that.

[2019-10-28 13:58] blohamen commented on #148
It's impossible to use selection prop in TextInput on Android: facebook/react-native#26047

[2019-10-28 16:28] grabbou commented on #148
@blohamen and @waqas19921, please link to commits. Issues should be reported on the main repository. Thanks!

[2019-10-28 16:28] grabbou commented on #148
Just finished cherry-picking and tests are on the CI. I had to cherry-pick few more ScrollView related commits in order to merge clearly the requests. Will look in few hours for the CI results and if all goes well, ship it.

[2019-10-28 21:38] grabbou commented on #148
I am reverting https://github.com/facebook/react-native/commit/db662af5b28d0ad42abd1da67c32f2c38ff04900 because it relies on a series of Flow-related commits that introduce `HostTypeComponent`. This will have to go with 0.62.

[2019-10-28 21:39] grabbou commented on #145
The Android CI has been fixed. There's work to resolve iOS issues. I will update you as soon as I have more information.

[2019-10-29 10:27] grabbou commented on #148
Releasing 0.61.3 now.

[2019-10-29 10:28] grabbou opened #150 "0.61.3 Discussion"
Conversations on this thread are limited to 0.61 releases major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.61.3 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue

[2019-10-29 10:42] grabbou commented on #148
I am going to revert a few additional commits.

- https://github.com/facebook/react-native/commit/db662af5b28d0ad42abd1da67c32f2c38ff04900 - it fixes regression introduced in master, but not present in 0.61-stable
- https://github.com/facebook/react-native/commit/0da6a9bb45dc085db701de06ac354538e6814c64 - it fixes regression introduced in https://github.com/facebook/react-native/commit/43593c7c0e5

[2019-10-29 11:01] grabbou commented on #148
For reference, here's the list of commits that is going to go with 0.61.3:

- https://github.com/facebook/react-native/commit/2ddb76a927dea4af459817c94cde17d509ed394f
- https://github.com/facebook/react-native/commit/2027a6133907d16d2256a2139f5fd09de00f3447
- https://github.com/facebook/react-native/commit/5051bf21a7c1eb0b3a75273e7c4ae86afe5aecc4
- https://github.com/facebook/react-native/commit/3

[2019-10-29 19:57] #148 closed

[2019-10-29 20:07] taylorkline commented on #150
I may simply be mentioning this too quickly, but the 0.61.3 release notes link to the CHANGELOG for release notes, but there is no 0.61.3 entry in the changelog.

[2019-10-29 20:31] LuigiMaestrelli commented on #150
A fix that was merged last month and was not released is the hermes on windows machines.
Every build breaks when enabling hermes on Windows.

Here is one of the open [issues](https://github.com/facebook/react-native/issues/25599) about that

[2019-10-29 20:50] mikehardy commented on #150
@LuigiMaestrelli that looks like a good one! What you want is to put the commit hash in so @grabbou can investigate easily and pick it: https://github.com/facebook/react-native/commit/81a6b6ed3c54498f6f2148c106846352405949bf

And also, thanks @grabbou  :-)

[2019-10-29 21:53] grabbou commented on #145
Update: I have reverted all commits that break the iOS tests. I am waiting for the CI to become green.

Here's a summary of reverted commits:

- https://github.com/facebook/react-native/commit/251fda207326c05c9c497530409a1f4e86f6ebfe - this commit changes gray shades in RNTester, causing our snapshot tests to fail. A fix should be to safely re-generate snapshots and make sure it's just the colors

[2019-10-30 00:12] tlvenn commented on #150
It would be great to include the fix for react-native-gesture-handler which creates quite some friction for the community at the moment.

Issue: https://github.com/kmagiera/react-native-gesture-handler/issues/320#issuecomment-547629967
Fix: https://github.com/facebook/react-native/commit/942de5718236ddbd1a112a2ce7adf20591949672#diff-1eaa4391573b4aa3e399dafeb401f47fR105

I did not check yet persona

[2019-10-30 09:23] pvinis commented on #150
https://github.com/facebook/react-native/pull/27060

[2019-10-30 09:41] mjmasn commented on #150
After upgrading from 0.61.2 to 0.61.3, our app crashes on startup with `java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libreactnativejni.so caused by: dlopen failed: library "libglog_init.so" not found`.

[2019-10-30 10:14] grabbou commented on #145
Unfortunately, the tests are still failing because of the [TurboModules commits](https://github.com/facebook/react-native/commits?after=cb1171b37ae7e34fbcb608305d68f9e6ac601cde+34&author=RSNara) that are causing "Undefined symbols for architecture x86_64" error.

You can find a failure for `RCTSettings` module [here](https://circleci.com/gh/facebook/react-native/119525?utm_campaign=vcs-integration

[2019-10-30 12:45] RichardLindhout commented on #150
@pvinis Why is react downgraded from 16.9.0 to 16.8.1

[2019-10-30 12:47] pvinis commented on #150
It was never upgraded. The old cli was somehow getting the right react version, but the new cli is getting the version from the correct file, and that file still has 16.8.1, so I changed that in this PR.

[2019-10-30 12:47] RichardLindhout commented on #150
Sorry I removed my comment, I did not see your issue number

[2019-10-30 20:43] mikehardy commented on #150
@tlvenn I am watching https://github.com/kmagiera/react-native-gesture-handler/issues/320#issuecomment-547629967 intently as it causes a crash bug in my app without the workaround. From commentary several of the attentive maintainers are similar watching (cough @kelset cough). I checked the file that is actually in 0.61-stable and the react-native commit is there https://github.com/facebook/react-

[2019-10-30 20:50] tlvenn commented on #150
Thanks for the clarification @mikehardy !

[2019-10-30 20:55] tlvenn commented on #150
Another good candidate probably is the debugging console that is not link log to the source:

Issue: https://github.com/facebook/react-native/issues/26570
Commit: https://github.com/facebook/react-native/commit/42ac240bceb104474494c6007df0089baec00f7a

[2019-10-31 11:26] kelset commented on #150
FYI the PR @pvinis linked above has been merged: https://github.com/facebook/react-native/pull/27060 🎉

And it's against the 0.61 branch so it will be in for next patch release AFAIK.

re: gesture-handler crash - ditto everything @mikehardy said, it needs a gesture-handler side fix

[2019-11-04 09:56] compojoom commented on #150
Since 0.61.3 is already out it would be awesome if the fix for react-native-gesture handler makes it into 0.61.4

[2019-11-04 10:09] nar213 commented on #150
Issue: facebook/react-native/issues/26696
Commit: facebook/react-native/pull/27065

Causes crash in background for iOS devices on 2.13 on RN61

[2019-11-04 15:22] mikehardy commented on #150
@compojoom please read my comment - there is *NO* react-native side change coming for react-native-gesture-handler https://github.com/react-native-community/releases/issues/150#issuecomment-548103862 - something else is going on there, but you're watching the wrong spot if you're looking for a react-native release to fix it. It'll be in the RNGH repo I believe

[2019-11-04 16:40] grabbou commented on #145
[The tests are green](https://circleci.com/gh/facebook/react-native/120421?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link). I would like to thank everyone for the help with getting the commits and fixes in place! Especially @RSNara!

We are now evaluating whether to release with October, 13th commits or to re-cut from master (will require few more days to fix te

[2019-11-04 16:42] sebinq commented on #145
Re-cut 🥳😄

[2019-11-04 16:44] grabbou commented on #150
Thank you for the participation in the discussion and @mikehardy for helping me with the moderation! I really appreciate that - sometimes it's just too many things to coordinate!

Let me look into the commits right now - I will proceed with fixes and cherry-picks and hopefully, we can have another release today.

Expect an update from me soon!

[2019-11-04 16:50] kelset commented on #145
I agree - if CI is green on master I'd probably just re-cut it since it could at least reduce the difference between the released version and master from a month-ish to a few days / a week

[2019-11-04 16:59] mikehardy commented on #145
"if CI is green on master"... - but, nope: master is solid red https://github.com/facebook/react-native/commits/master

Just for grins I kept paging back looking for a green check. July 18 is the last time master passed CI? https://github.com/facebook/react-native/commits/master?after=56c7ae729a03f44558763e3d86def3a269513bbb+1049

I'm not recommending a course of action but if I'm reading history

[2019-11-04 17:11] grabbou commented on #150
Thanks @tlvenn and @nar213 for providing both issue and commit. Helps with the process!

[2019-11-04 17:12] kelset commented on #145
oh wow - yeah sounds like there should be an effort in getting master back to green that 👀

But then, if instead the current state of 0.62 is a green CI, I would proceed with the current one and not rebase.

[2019-11-04 17:19] grabbou commented on #150
No more requests for this release. Waiting for the tests and will push to `npm`.

[2019-11-04 18:32] grabbou commented on #145
There's been a few fixes and tweaks here on 0.62-stable to make it pass and all of them have been backported to `master` since then. Unfortunately, that means we are dealing with a different failure reason now.

I'll check how time-consuming that might be and will report back.

[2019-11-04 19:36] #150 closed

[2019-11-04 19:37] grabbou opened #151 "0.61.4"
Conversations on this thread are limited to 0.61 releases major issues and backport (cherry-pick) requests from commits that are already on master.

An example of a good such request is a bug fix for a serious issue that has been merged into master but did not make the 0.61.4 cut.

In other words, if you cannot point to a particular commit on master, then your request likely belongs as a new issue

[2019-11-04 19:52] grabbou commented on #145
CC: @TheSavior and @cpojer, I'd love to get your thoughts on [wheter to release as is or sync with master](https://github.com/react-native-community/releases/issues/145#issuecomment-549440199).

There's been some additional context in the recent comments too!

[2019-11-05 09:47] cpojer commented on #145
I think the consideration should be about how many more releases we want to have this year and when. The two options I see are:

1. Stabilize 0.62 now and release it in November, cut a new stable at the end of the year and target a January release for 0.63
2. Re-cut 0.62 in mid-November and make a stable release in mid-December, then make 0.63 happen in February.

I don't want to influence your de

[2019-11-05 11:20] thymikee commented on #151
- fix: Bundle assets in monorepo: https://github.com/facebook/react-native/commit/a3b08048674e324dbe1f0ca816f35607e9e06a2f

[2019-11-05 14:16] pinstripe-potatohead commented on #151
Please cherry pick
* Fix multiple `set-cookie` not aggregated correctly in response headers [@1df8bd4](https://github.com/facebook/react-native/commit/1df8bd4932f42958c01dccf44cee92b75a6988ed)

[2019-11-13 16:49] grabbou commented on #151
@thymikee, at this point, the conclusion is that we will not be re-cutting 0.62. I am going to release its preview now and will cherry-pick that one in the next iteration.

[2019-11-13 16:50] grabbou commented on #151
I am going to work on 0.62 right now and will get back to this issue in few days (later this week) and we will release another update.

[2019-11-13 16:55] grabbou commented on #145
Thank you @cpojer for giving your input into the discussion. As you said, I think it's a good idea to release 0.62 right now, with the primary reason being the timing and avoiding unnecessary pressure throughout December.

I believe that releasing a stable version at the end of the year (say December) and cutting the next release candidate early next year (January) is the best way going forward an

[2019-11-13 21:06] grabbou commented on #145
There is a little issue with Android build system (similar to https://github.com/react-native-community/jsc-android-buildscripts/issues/80). Previously, it was only happening inside RNTester. Now, it also happens while building a new app.

Going to consult this with Facebook team and find a reasonable solution/workaround today before proceeding further.

Note: This shouldn't delay the release any

[2019-11-15 14:41] thymikee commented on #145
CLI bump: https://github.com/facebook/react-native/commit/e523302fbe055e6745e38b72a17e121341c431c1

[2019-11-15 14:41] thymikee commented on #151
CLI bump: https://github.com/facebook/react-native/commit/e523302fbe055e6745e38b72a17e121341c431c1

[2019-11-18 06:27] grabbou commented on #145
Turns out the issue is brought up by recent Flipper update. Investigating with the team on the next steps.

[2019-11-19 09:52] dnlowman commented on #145
Is there any update to the status of this?

[2019-11-19 11:57] dnlowman commented on #151
Is this going to be backported? or is it scheduled for a later release? This is quite a big issue for us relying on cookies.

[2019-11-19 16:50] niparx commented on #151
Add this, please: [Bump SoLoader to 0.8.0](https://github.com/facebook/react-native/commit/614039834bf255de096f8b1d168832f81b0cf3fa)

This fixes RN support for Android Bundle. See [here](https://github.com/facebook/react-native/issues/26400) for one of the issues. To be short: SoLoader can't find libraries, when app is installed to device from a Bundle

[2019-11-19 22:47] radko93 commented on #151
@niparx, unfortunately, this commit breaks 0.61.x branch so cannot be cherry-picked. But it's already there in RC 0.62.

[2019-11-19 23:07] mikehardy commented on #151
@radko93 0.62-stable branch does not actually have an RC tag or package release yet but if I understand correctly it is buildable / green on CI with the exception of a regression to the need for the android gradle library pickFirst workaround returning (until fixed)
https://github.com/react-native-community/releases/issues/145 - which is to say, if I really needed app bundles *and* I was handy wit

[2019-11-20 15:42] Fausto95 commented on #145
is RN0.62 coming with Flipper support?

[2019-11-20 20:23] grabbou commented on #145
@dnlowman yes - it took a while because I was awaiting an investigation from the Flipper team. There's a known workaround that is going to ship for now. We will see what to do with that next week.

@Fausto95 yes.

[2019-11-20 20:24] grabbou commented on #145
I have already pushed a fix, going to test it and publish `0.62.0-rc.0`.

It's been a while since I cut the branch, so I will take an additional time today & tomorrow to look at it once again and make sure everything works.

[2019-11-21 02:19] ursNj commented on #145
app bundles crash issue in play store will fix with this release ???https://github.com/facebook/react-native/issues/25927

[2019-11-22 08:11] grabbou commented on #145
Unfortunately, the Android app build is broken on my machine (despite the CI passing, where we don't test "a default app", but ReactAndroird as a whole).

I need to take a closer look at the failures.

In the meantime, let's focus on shipping additional tweaks to `0.61` - there's going to be more work on `0.62` needed to get it out. I will do my best to get it out as soon as possible, however, ple